[2015-03-18 14:13] mpGitHub opened #1 "More than one slickgrid on a page breaks styling"
The formatting of the columns in the first slickgrid is broken after loading the second slickgrid on the page. The column widths are uneven/overlapping.

See the picture.  I used the simplest example from mleibman's examples, but just put a second grid in there.

[2015-03-18 14:37] mpGitHub commented on #1
Uploading the picture wasn't working...  Here is the test code.

NOTE: Broken in Chrome/Firefox.  IE seems to work for this example, but it is broken in some of the more involved examples.  One of the changes that were merged in must have broken this ability.

Let me know what you think.

<!DOCTYPE HTML>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <

[2015-03-19 00:59] 6pac commented on #1
thanks for bringing that up. it should work. I'll get to this when I have time, but maybe not till next week.

[2015-03-24 03:51] 6pac commented on #1
I've reverted one of the patches - the one for consolidating the one-stylesheet-per-grid into a single stylesheet. This was resetting the cached column style DOM nodes for all existing grids each time a new grid was initialized. There were complex issues as to why there was no workaround - see the commit.

I've added a 'example-multi-grid-basic.html' example for future use, and a test page that ge

[2015-03-24 03:51] #1 closed

[2015-03-24 21:56] mpGitHub commented on #1
That did the trick.  Thanks!

[2015-04-08 14:15] RealRegatta opened #2 "Filter doesn't redraw the grid"
When filtering on the data, if the n new rows are identicals to the n first current rows then no diff is detected and the grid is not refreshed
Try with the [fiddle] (http://jsfiddle.net/hLf0d5mL/3/) :
    * Filter with 'abcd'
    * The first row is not filtered
    * Filter with 'zzzz'
    * The last row is filtered

The issue is in the slick.dataview.js script in the method getRowDiffs which don

[2015-05-04 12:37] guilhermeaiolfi opened #6 "Update README"
You should probably update the README so people coming here don't think you are too busy to maintain this project (people that don't know that that message is from @mleibman.

Other than that. I hope you get access to the main repo to keep this project alive as you are currently doing here.

Thanks.

[2015-05-05 00:04] 6pac commented on #6
True dat. Thanks for the heads up.

[2015-05-05 00:04] #6 closed

[2015-05-18 01:13] kika opened #7 "Embedded version string is still 2.1"
https://github.com/6pac/SlickGrid/blob/master/slick.grid.js#L3332

It leads to confusion when switching from the original repo version to yours. I was chasing where do I have old version laying around and why my build picks it up until I decided to look into the code :-)

[2015-05-18 01:36] 6pac commented on #7
Thanks for noticing that. I hadn't. Will Update.

[2015-05-25 01:36] andyforever opened #8 "Can these slick.*.js files be packed and compressed into one slick.all.min.js"
How to pack and compress these slick.*.js files into slick.all.min.js?
Thx

[2015-05-25 01:41] 6pac commented on #8
These days, this is usually done automatically by your framework. ASP .NET MVC does it, a lot of the PHP frameworks do it. You could set up a shell script to concatenate and minify the files. I'm sure there's a million examples out there.
Frankly, I'm not going to do it. You get the pieces, it's up to you how you assemble them. For example, I've got a bunch of helper js files that also get wrapped

[2015-05-25 01:48] andyforever commented on #8
Thx for the reply.
I will try some Node.js tools such as Yeoman, Grunt.

[2015-05-25 01:48] #8 closed

[2015-05-29 13:18] 6pac commented on #7
Fixed.

[2015-05-29 13:18] #7 closed

[2015-05-29 13:58] evil-shrike opened #9 "Prevent useless onSelectedRangesChanged events in selectionmodels' setSelectedRanges"
Plugins slick.cellselectionmodel and slick.rowselectionmodel have function `setSelectedRanges` which sets selected range and fires `onSelectedRangesChanged` event.
Unfortunately  the event is fired in any case even if range didn't change. As consequence grid fires `onSelectedRowsChanged` event.
That can (and does) have some useless processing.
For example slick.checkboxselectcolumn plugin in its `

[2015-06-02 15:20] #9 closed

[2015-06-03 02:03] 6pac commented on #2
Your event assignments need to look like:

    dataView = new Slick.Data.DataView();
    dataView.setFilter(filter);
    dataView.onRowsChanged.subscribe(function (e, args) {
        grid.invalidateRows(args.rows);
        grid.render();
    });
	dataView.onRowCountChanged.subscribe(function (e, args) {
		grid.invalidateRows(args.rows);
        grid.render();
	});

It doesn't work properly without

[2015-06-03 02:03] #2 closed

[2015-06-10 06:41] RealRegatta commented on #2
Yes because the getRowDiffs don't return diff if the n new rows are identical to the n first current rows.
The solution is not to circumvent the bug but fix the bug!

[2015-06-10 14:19] 6pac commented on #2
This is how you need to interpret it:
(a) the row count has changed - call event
(b) the rows have not changed because the one row that is now in the set is the same as the row that was there before - don't call event

It's a matter of interpretation, and the rest of the render code is set to interpret it this way. Changing it would be certain to require far reaching changes.

[2015-07-02 18:20] manju-reddys opened #11 "Prevent cell content removal on click (when editor is used)"
Hello,

I have custom editor for cell, the problem i'm facing is whenever the cell is clicked the existing content (DOM) is getting removed and also I'm not able to listen to the events registered to the cell content DOM. Is there way I can prevent the cell content removed by default? how do I listen to the cell content DOM events?

![image](https://cloud.githubusercontent.com/assets/1906881/84843

[2015-07-03 10:31] 6pac commented on #11
From your description of the problem, I suspect that you don't understand how the editors work.
Check out: example3a-compound-editors.html
You need to implement the editor separately from the formatter and then specify it in the column definition. The formatter result is cleared and the editor is created when you click on the cell - the formatter and editor are completely separate things and one s

[2015-07-06 15:46] manju-reddys commented on #11
Well, if my description is not clear I will explain here again:

As in attached image, I have requirement to clear the inputs (range) only when user click on the clear button (red circled).

I understood the concept of formatter (how to render the value) and the editor (what to do on click), the problem what I'm talking about is how to prevent the content getting clear on click?. Before the editor

[2015-07-06 18:29] Angularjschile opened #12 "add bower"
please add bower

[2015-07-06 23:49] 6pac commented on #12
Be my guest. I don't use it myself. You'd have to commit to keep it updated too.

[2015-07-10 11:19] 6pac commented on #11
What I mean is that to keep it simple, you should write a formatter/editor pair that conforms to the normal behaviour of the grid editors. See example3a-compound-editors.html for a perfectly good range editor.
However, if you *must* do what you are trying to do, that requires a workaround of the default behaviour, and I think changes to the core code.

    function handleClick(e) {
      if (!curr

[2015-07-10 11:58] 6pac commented on #11
OK, I've decided the best way to do this is to add a property ```suppressClearOnEdit``` to the editor itself. eg:

    function TextEditor(args) {
      var $input;
      var defaultValue;
      var scope = this;
      this.suppressClearOnEdit = true;

      this.init = function () {

I've then made ```makeActiveCellEditable``` check for that property:

      $(activeCellNode).addClass("editable")

[2015-07-10 12:01] 6pac commented on #12
I think this comes under the same umbrella as [this other request] (https://github.com/6pac/SlickGrid/issues/8)

[2015-07-10 12:03] #12 closed

[2015-07-10 18:55] manju-reddys commented on #11
This will not work because the variable "suppressClearOnEdit" is a  property of the editor function and we can get access to it only if we call the function. At this point the we haven't called the editor method so it will be undefined (not exposed).

The simplest and easiest way to solve this problem add property ("suppressClearOnEdit") to the column definition rather to trying access the method

[2015-07-12 01:20] 6pac commented on #11
Sorry, you are correct that the code as-is will not work. My bad.
The property needs to be assigned after the editor function, eg:

    function TextEditor(args) {
      var $input;
      var defaultValue;
      var scope = this;

      this.init = function () {
    ...

      this.init();
    }

    TextEditor.suppressClearOnEdit = true;

I still think this is a better approach, because the behav

[2015-07-13 16:10] manju-reddys commented on #11
I don't see the side effects of adding a variable to the column definition, its more flexible then this approach. This approach will fails if we define the editor as anonymous function.

[2015-07-14 01:18] 6pac commented on #11
I just think philosophically the behaviour is part of the editor, not the column. The only connection with the column is that the editor happens to have been assigned to it, and I want to avoid  creating more 'noise' in the column defaults if at all possible.

It would fail if the editor were anonymous, but why would you want to do that ?

[2015-07-14 14:04] #11 closed

[2015-07-14 15:50] manju-reddys commented on #11
In my opinion: The configuration should be part of column definition, why? answer is simple, the editor is reusable component. The same editor can be in more than one column but each column may have different behaviors, it is not always true that the default operation (empty the cell) to be prevented in all columns, the editor is used. So I believe that adding it as column definition (config) is t

[2015-07-15 00:34] 6pac commented on #11
Look I'm sorry but I don't agree with any of these points.
The principle is that editors are a reusable plugin. As such, they should be named, live in a library file, and have consistent behaviour including clearing the cell.
You are welcome to change your own code, that is a trivial change, but in my opinion it is the role of the grid architecture to encourage good practices and provide a workabl

[2015-07-16 01:14] manju-reddys commented on #11
That is okay and thanks, I have already forked to go my way.

[2015-08-11 07:51] andyforever opened #13 "Feature request: onBeforeAcitiveRowChanged\onAcitiveRowChanged Event"
Hi, I need to know the event when the active row changed(like keyboard navigate or mouse click), so I can deal with the row validation. Could you please provide the onBeforeAcitiveRowChanged or onAcitiveRowChanged methods for me. THX.

[2015-08-11 10:00] zoechi commented on #13
You could use `onActiveCellChanged`.
Remember the last row and do validation when the row of the new cell (passed with the event) differs from the remembered row

[2015-08-11 13:20] blackshadev opened #14 "Update jquery+ui and removal of old (unstable) libraries"
Since the original project isn't maintained anymore and the necessary libraries are highly outdated. Wouldn't it be nice if this version would have support for the latest jquery+ui and removed the outdated jquery.event.drag.js ?

I have run in allot of trouble with slickgrid due to the lack of support for the newer versions of said libraries. Are you planning on supporting these?

[2015-08-12 00:15] 6pac commented on #14
The libraries in this fork are at 1.11.2. Is that new enough ?

When I updated the libraries I checked out jquery.event.drag.js and couldn't see a problem. Are you saying jQueryUI has a drag event now that supersedes it ? I haven't looked into it.

This fork has quite a few patches that fix issues with jQuery 8+. Check out the commit list to see what has been fixed.

As I say in the wiki, this is

[2015-08-12 00:30] 6pac commented on #13
I agree this is the only option at the moment. SlickGrid uses a less 'row-based' paradigm than a lot of other grids. It does not impose a particular editing/validation strategy, so this is up to the developer to superimpose.

[2015-08-12 06:18] blackshadev commented on #14
I just read the wiki page you were referring to. In case of jQuery, I meant the 2.1.4 version instead of the  1.11.2. I get that most people want the support for older browsers, but would it be possible to run under 2.1.4, since I don't need that?

And as far as I know jQueryUI draggable have implemented all handles necessary which where present in jquery.event.drag.js. I even ran into some issues

[2015-08-12 06:33] 6pac commented on #14
I have also been assuming, though I admit I've never actually tried it, that dropping 2.1.4 in will be equivalent in API to 1.11.2 but just support less browsers. Is this not true ?

I will look into retiring the custom draggable library, it may take me a week or so to get around to it.

Thanks, it's a grid I use a lot too, so it's good to give back a bit.

[2015-08-12 07:12] blackshadev commented on #14
jQuery 2.1.4 seems to work fine on your grid, so great work on that one.

And jQueryUI draggable seems to work as well with minor changes needed. See my pull request, it isn't much, but it seems to work for me.

[2015-08-14 19:23] mpGitHub commented on #14
+1

I see you've done a release not too far back and this is a very fresh change.  Any idea when you hope to release another version with these changes?

Tks!

[2015-08-14 23:52] 6pac commented on #14
Actually, blackshadev looked into it a bit more and found that the external and jQueryUI drag libraries have quite different functionality when it comes to attaching to DOM objects.
See: https://github.com/6pac/SlickGrid/pull/15

I reverted the changes. We'll look into it, but since the current setup works I think the best solution is probably to re-namespace the external libraries to avoid mixing

[2015-08-15 11:19] blackshadev commented on #14
I did a little more investigating and this is what I found.
Firstly drag and drop support is build into HTML now a days (source: http://www.w3schools.com/html/html5_draganddrop.asp). But SlickGrid depends on some things that jquery.drag.event.js does. For instance the creation of a extra event argument (referred to as dd) which add jQuery handles to the drag handle and other visual injected things

[2015-08-15 12:08] blackshadev commented on #14
Ok this is how far I got, native browser dragging seems to work pretty well. I am not confident enough to make a pull request because it has some quirks. If anyone knows anythong about drag/drop with the normal HTML events, be so kind to take a look at example9. The first row can't be dragged for some reason. The drag events which Slick.Grid binds can be found at slick.grid.js:2354-2391. Example9

[2015-08-15 12:48] 6pac commented on #14
Thanks for all the investigations.
I'm not really confident to depend on native browser dragging. I know from your earlier comments that you only need to support the latest, but SlickGrid in general needs to support back to IE7 etc. Add to that quirks in individual browsers, and things get even more sketchy.
Using jQueryUI drag is probably a partial tonic for this, since it will support earlier br

[2015-08-15 13:33] blackshadev commented on #14
Ok, I have used the jQuery event binder to bind the drag,dragstart and dragend event. I don't know if they do some tricks to fix them in IE9-. Could someone check this?

[2015-08-17 08:29] 6pac commented on #14
I downloaded your repo and checked Example-9.
In Chrome:
- row reordering works, but not for the first row
- the drag of the row body to the recycle bin doesn't work
Nothing is working for me in IE8.

Again, apologies I can't assist, but I am just too busy at the moment. I'm happy to put things like this on the backburner, which usually means they get solved in a month or so as I get an hour here

[2015-08-17 13:01] 6pac commented on #14
I think you should read this: http://www.quirksmode.org/blog/archives/2009/09/the_html5_drag.html
It does appear that jQueryUI supports IE8+, so in theory draggable and droppable should work, but they do seem to work in quite a different way to the HTML5 standard.
After the quirksmode article, I'm wondering if the best bet is just to leave it as it is and count our blessings.

[2015-08-17 20:18] javexpress opened #16 "Is there a fixed total row solution within this fork?"
While editing the rows i want to show sum of two columns separately in a fixed total rows in bottom. And a second question is; I cant make grouping since the data is still been editing. Is that possible too?

Thank you in advance.

[2015-08-17 20:23] javastud opened #17 "When using multi select with checkboxes there is no way to prevent the row selection."
When using CheckBoxColumn selector with RowSelectionModel, there is no way to handle the selection before it occurs. So i cant prevent the selection ie. user selected two suitable rows and clicked a third one. In this case i need to handle the selection to determine whether the selection is ok or not.

Thank you in advance.

[2015-08-17 23:39] 6pac commented on #16
Have you looked at http://6pac.github.io/SlickGrid/examples/example-totals-via-data-provider.html ?

This does similar to what you want.

[2015-08-17 23:45] 6pac commented on #17
Have a look in `plugins/slick.checkboxselectcolumn.js`. You'll need to override the `handleClick` event.

[2015-08-18 12:03] javexpress commented on #17
Yes i looked at it. But it has been fired after the checkbox selected. Cant handle it at this method. We need another way.

[2015-08-18 12:09] javastud opened #18 "Grouping formatter doesnt use formatted value"
When i use a Key-Value Map formatter in column definition and after grouping by this column the value is not formatted. And also no other way to invoke it manually since group formatter doesnt have a reference to the column definition.

[2015-08-18 12:18] javastud opened #19 "There is no way to determine the grouping rows in double click"
I use grid.onDblClick.subscribe(function(e, args) .....
When i click the grouping header, the args doesnt have a flag for this.
When i click the total row, the args also doesnt have a flag for this.

Thank you in advance.

[2015-08-19 11:13] 6pac commented on #18
Hi javexpress,
I don't have a lot of time right now. It might take me a week or so to answer this.
If you could make up a working sample in your forked repo or in jsFiddle, that would save me time. A pull request with suggested changes would save even more.

In some ways SlickGrid is a toolkit, and customisation is expected because all the different use cases vary to widely. Don't be afraid to get

[2015-08-28 11:42] andyforever opened #20 "Column reorder does not change the selected rows in rowselectionmodel"
For example, there are 10 rows in the grid and I use grid.setSelectionModel to select rows. If I select 1,3,5 rows, then I click the column header, rows are reordered, but the selected rows are still 1,3,5.

[2015-09-07 00:00] 6pac commented on #20
Have a look [here] (https://github.com/mleibman/SlickGrid/wiki/DataView) under 'Synchronizing selection & cell CSS styles'

[2015-09-08 17:24] manju-reddys commented on #16
I have implemented fully functional fixed footer (totals plugin) (here)[https://github.com/manju-reddys/SlickGrid]

[2015-09-08 17:27] manju-reddys commented on #13
See more in my (repo)[https://github.com/manju-reddys/SlickGrid], I had similar requirements

[2015-09-17 07:45] andyforever commented on #13
@manju-reddys I don't get which change is related to my requirements in your repo. Could you explain it for me? Thx.

#### This repo made following changes

1. Column configuration have new property `preventClearOnEdit`.
    - This basically prevent the cell content get clear on editor get activate.
    - Helpful in case's like [here](https://github.com/6pac/SlickGrid/issues/11).

2. Now the edito

[2015-09-17 15:00] andyforever commented on #20
Thanks for the tips. "asyncGridSelection" is just what I need.

[2015-09-17 23:58] #20 closed

[2015-09-25 20:56] jtokoph opened #21 "Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node'"
Scrolling quickly on the basic example causes a bunch of javascript errors: http://6pac.github.io/SlickGrid/examples/example1-simple.html

[code]

Using Chrome Version 45.0.2454.99 (64-bit)

[2015-09-25 21:18] jtokoph commented on #21
It only seems to spam errors when your mouse is over a column. If your mouse is in a blank area of the grid viewport it doesn't have any errors.

[2015-09-26 01:07] 6pac commented on #21
I assume you've tried this on the MLeibman branch and it's not happening
there?

If only here, it's probably due to the additional postrender removal code
recently added. I'll check it out.

On Sat, Sep 26, 2015 at 6:48 AM, Jason Tokoph <notifications@github.com>
wrote:

[2015-09-26 01:21] 6pac commented on #21
Hmmm ... looks like a plain old bug ... forgot to delete a row:

Could you try deleting the marked row below (****, it's row 2316 in
slick.grid.js) and see if that fixes it? I'm having laptop issues at the
moment, it will be a week before I get my proper dev environment back. I
can push the fix however if it works.

*        if (zombieRowNodeFromLastMouseWheelEvent &&
zombieRowNodeFromLastMouseWhe

[2015-09-27 07:32] jtokoph commented on #21
That looks to have done the trick. Thanks for the quick investigation and fix. :shipit:

[2015-09-27 07:32] #21 closed

[2015-09-28 08:20] 6pac commented on #21
pushed to repo

[2015-10-08 01:50] #16 closed

[2015-10-28 16:20] cajoy opened #22 "Can we create bower package"
Would be good to have bower.json in repo for easier import

[2015-11-09 22:07] 6pac commented on #22
It's a good idea but I'm not familiar with bower packaging. I had a look and there are quite a few of the variant slickgrid repos on bower already. Some of them just have a homepage defined, no install files.

I'm not sure how detailed the 'main' section should be. For example, do we list the main grid files and css, plus all the controls and plugins, AND all the slick-specific image files ?

[2015-11-27 20:56] simonzack opened #23 "IntegerEditor validation"
Can IntegerEditor have a validator option as well, similar to TextEditor? Use cases including checking whether the integer is positive, negative, above a value, etc. Currently I'm using TextEditor and casting the results myself to an int which isn't really convenient.

btw, thanks for creating and maintaining this fork! Perhaps if slickgrid totally dies you could call it slickgrid 2 or something.

[2015-11-27 21:06] zoechi commented on #23
Just provide your custom editor. They are not comlicated. Copy an existing one, customize it and pass it to your column config.

[2015-11-27 21:16] simonzack commented on #23
It's indeed not complicated, but that's what validator is for, and it would be nice to have this for integers as well.

[2015-11-27 21:23] simonzack commented on #23
@zoechi Even easier to do a PR :)

[2015-11-27 21:43] zoechi commented on #23
Sure that's the best option :)

[2015-11-30 19:49] #23 closed

[2015-12-14 21:00] zachgibb commented on #22
@cajoy You should be able to pull in the necessary files to your project even before a bower package gets made officially.

In your `bower.json` you can specify non-bower urls you want to pull in, and then in `overrides` you could specify the specific files needed for your project. For example, when using the dependencies in the [basic example](https://github.com/6pac/SlickGrid/blob/master/example

[2016-02-15 20:30] at88mph opened #26 "Feature request: Frozen columns"
I've been using this branch of SlickGrid for the past couple of years:
https://github.com/JLynch7/SlickGrid/tree/2.0-frozenRowsAndColumns

But I would like to keep the underlying SlickGrid up to date with yours.  The idea is that one can set the first n columns to be frozen and would remain in place while scrolling.  Perhaps more of a spreadsheet feature, but useful when selecting rows.

Many than

[2016-02-16 00:09] 6pac commented on #26
It's always a challenge keeping things updated across multiple forks.
Hopefully my patches are fairly small and atomic, and will merge easily (that's the idea, anyway).
Let me know if there's anything I can help with.

That said, I'm wary about formally supporting the frozen column forks because that feature does seem to modify some of the core render code. There seem to be a few options for froze

[2016-02-27 01:55] jasonfulps opened #27 "viewportHasHScroll is not updated on resize events."
Currently updateRowCount() is only updating "viewportHasVScroll" and NOT "viewportHasHScroll".

This causes situations where the use is unable to scroll to the last row. Here is the related thread of many who have experienced this problem https://github.com/mleibman/SlickGrid/issues/477

[2016-02-27 12:04] 6pac commented on #27
Patch made

[2016-03-01 05:28] #27 closed

[2016-03-11 16:42] mpGitHub opened #28 "Show totals when using a dataView grouping"
I don't see a feature in this version of slickgrid for a fixed overall totals footer.  Is this something that will be explored in the future?

I looked into showing totals via a dataProvider, but I also need to use a dataView technique for grouping and etc.  For some reason this isn't working for me.  Does someone know the proper technique to get something like this working?

Eg. this is for using

[2016-03-13 13:26] 6pac commented on #28
Good question! Looking into this.

[2016-03-15 21:58] mpGitHub commented on #28
Y - I thought this should be a simple endeavor, but it doesn't seem to work as I expect?

A colleague of mine added the ability to put a fixed footer at bottom of the grid in the original slickgrid.  I went ahead and merged his changes to this version and it seems to work in this current version.  I had to change quite a few places in these files:
<pre>
slick.grid.js
slick.groupitemmetadataprovide

[2016-03-16 02:06] 6pac commented on #28
yeah, I was thinking the same way. There have been requests for this, but I've held off, viewing it as excessive customisation.
Perhaps it's time.

[2016-03-16 14:53] mpGitHub opened #29 "Create minimized slickgrid files"
It would be nice to have minimized files for the js and css for the many default includes?

Perhaps uglifyjs / uglifycss or some other minification process?

[2016-03-17 00:08] 6pac commented on #29
https://github.com/6pac/SlickGrid/issues/8

[2016-03-26 02:50] MisterAcoustic opened #31 "'Filling the whole window' example does not resize with changes in window size"
Open a browser window to full screen, and load the 'Filling the whole window' example.
Move the vertical scroll thumb to the bottom.
Size the window smaller.
Note that while you can still see the vertical scroll bar, the scroll thumb is out of view, below the current window bottom. Also note that the horizontal scroll bar is completely lost.

I am just considering SlickGrid for use in a project, a

[2016-03-28 07:01] 6pac commented on #31
I think this is a css issue more than anything. whether the content resizes with a screen size change depends on the css sizing mode. this is said to work in the example text, but doesn't appear to.
I can have a look at this in a week or so.

[2016-04-01 15:46] maxim-s-barabash opened #32 "Used a wrong keyCode name. PAGEDOWN and PAGEUP"
In slick.grid.js used keyCode.PAGEDOWN and keyCode.PAGEUP.
But in slick.core.js declared
"keyCode": {
...
        PAGE_DOWN: 34,
        PAGE_UP: 33,
...
      }

[2016-04-07 20:46] MisterAcoustic commented on #31
I had a chance to mess around with this, and I discovered that you can indeed bind to the window resize event, and in your function call grid.resizeCanvas(). That seems to make it work quite nicely (in my situation, with some other mods). I'll keep listening in case a better way comes up.

[2016-04-08 13:26] Narrenschyff opened #33 "Refiltering on grouping"
Hi,

Apologies if this question sounds stupid or out of place, I am just trying to optimise some code I am working on involving grouping and filtering. I have looked at the example here http://mleibman.github.io/SlickGrid/examples/example-grouping,

however it is a bit unclear to me why everytime we call dataView.setGrouping() we need to perform filtering again in dataVIew.refresh() -> .. -> getFi

[2016-04-11 02:38] 6pac commented on #31
i still haven't had a chance to look, but i think this will be the solution.
the example claims to resize the grid on browser page resize, but as far as i can tell, it doesn't.

[2016-04-11 04:06] 6pac commented on #32
thanks for the catch. i had used PAGEDOWN in my code but later harmonised with jQueryUI which uses PAGE_DOWN

[2016-04-11 04:06] #32 closed

[2016-04-27 13:01] ajdalshov commented on #22
Please take some time to get this fork on Bower as this should be the new defacto Bower package for SlickGrid. :)

[2016-04-28 02:30] 6pac commented on #22
anyone an expert on Bower who can make up a file I can pull? I've had a look and not sure how to deal with the dependencies. Just don't have a lot of time to learn Yet Another New Thing i'm not going to use myself.

[2016-04-28 06:15] Custodia commented on #22
To register as a bower component you need to use [semver](http://semver.org/) git tags.

Not an "expert" on bower but I might take a crack at making a bower file.

[2016-04-28 13:22] 6pac commented on #22
We're on semver anyway.
Any bower file attempts would be appreciated, we can workshop it perhaps.
I can make educated guesses, but being primarily an MS Visual Studio developer the tools do it all for me, I think NuGet is the builtin package manager, and I have no personal need for bower, so I'm not familiar with it.

[2016-04-29 09:38] henkli commented on #22
Disclaimer: I don't know if this correct.

Here's one version, can somebody test it?
https://github.com/gbelmm/SlickGrid/blob/master/bower.json

[2016-04-29 13:10] Custodia commented on #22
@henkli that's just the default template and it's pointing to a wrong repository

[2016-05-03 04:42] 6pac commented on #22
Thanks everyone for your input. I have read both the suggestions, and also checked out some tutes, and installed bower on my OSX drive. I'll try the suggestions in action and fine tune them.

[2016-05-26 09:47] haneeftaj opened #37 "SlickGrid can be Accessible or not?"
Hi Team,

Regarding accessibility of the slickGrid.
1.    Is the Slick Grid can be accessible with the keyboard? -  Can we do accessibility for the slick grid.
2.    will it work with the JAWS(screen reader).
3.   Can we use controls/formatters inside the slick grid with keyboard.

[2016-05-27 01:31] 6pac commented on #37
Hi haneeftaj, the team at the moment is just me - and all of you!
I don't think there has been specific attention to make the grid accessible in the standards-compliant sense. So the answer to your questions are: I don't know, but probably not.
However the great thing about SlickGrid is that it's easy to customise. I have my own heavily customised private branch that incorporates a lot more keyboa

[2016-06-07 05:45] haneeftaj commented on #37
HI Ben/Team,

Thanks for your response. I saw slick grid is made up of "div's". Is there any possibility that we we can change div's into table structure. To be clear each cell can we make it as <td>?. Please let me know the posibility.

Thanks
Haneef

[2016-06-07 05:55] haneeftaj commented on #37
HI Ben/Team,

Thanks for your response. I saw slick grid is made up of "div's". Is there any possibility that we we can change div's into table structure. To be clear each cell can we make it as <td>'s? Please let me know the posibility.

Thanks
Haneef

[2016-06-07 05:55] haneeftaj commented on #37
Can we make it as td (table data).

[2016-06-08 00:34] 6pac commented on #37
I think that's a pretty easy answer: no.
The divs are at the heart of the entire project, it would require major rework to change.
Not to mention, tables are now considered very bad design for applications such as this.

Learn CSS and HTML5 and the divs turn out to be far more flexible than a table.

[2016-07-07 13:40] dedward3 opened #38 "Collapsing a group leaves one row showing, feature or bug?"
I currently have a nested grouping setup. When I minimize a 2nd level grouping it leaves one data row showing, and when I minimize a top level grouping it levels one of the 2nd level groupings showing. Just curious if this is seen as a feature or bug?

![1stlevelcollapse](https://cloud.githubusercontent.com/assets/7419302/16655116/e0a6b4ee-4426-11e6-8eab-c9e5593cb21c.JPG)

Note: the data that is v

[2016-07-07 14:20] 6pac commented on #38
That looks like a bug.
I remember something like this was fixed a long time ago. Perhaps we need to revisit it.
If it's not clear where the problem is, I think I have a personal branch where it might be fixed.

[2016-07-07 19:09] dedward3 commented on #38
I'll take a look into it and try and figure out where it's deviating. Can you point me in the direction of where aggregation and rendering occur in SlickGrid?

[2016-07-08 00:28] 6pac commented on #38
That stuff's in ```slick.dataview.js```, the totalling around ```addTotals()``` and eventually the tree is flattened into rows for display at ```flattenGroupedRows()```

[2016-07-08 01:01] 6pac commented on #38
would be interested if you can tweak the settings on the example page to reproduce this issue

[2016-07-08 13:19] dedward3 commented on #38
Okay, I'll see if I can reproduce it later today and let you know.

[2016-07-09 01:55] 6pac commented on #38
i'm away till sun 17th so won't be getting to it real soon :-)

[2016-07-12 16:15] fortesl commented on #26
So will frozen columns be implemented in the 6pac fork? I'm also using the JLynch7 fork for the frozen columns feature. Thank you

[2016-07-18 13:03] 6pac commented on #26
I think officially, no. However, I'd be happy to be a part of taking a look at the fork to see how the differences between the two forks could be minimized. This would maximize the portability of future updates to my repo.

[2016-07-18 21:27] Excelautomation opened #40 "Exclude certain group-rows from grid"
Hi, thank you for supporting on this grid - hope you can help me out with the following:

I've been struggling with appropriate way to hide/exclude certain group-headers from being included in the grid. As the image below pretty obviously display, I'd like the headers with: "HIDE THIS" to be excluded from the grid, as this group will only contain 1 item. Nevertheless, I really like the 2. part ("2

[2016-07-20 11:00] DimitarChristoff opened #41 "updating to node ES6"
So, not sure if this is a desired goal or not but...

Consumption of SlickGrid in a modern project that is driven by `npm` and built via webpack/babel/ES6 can be a pain in the backside, given the reliance on globals, order of loading, lack of implicit dependencies.

I got annoyed and took out the bits from the repo one by one and added them to a new repo, converting in the process.

It's WIP - htt

[2016-07-21 06:50] 6pac commented on #41
i think that would interest me.
i've been working on a bower file, and that has brought up the jquery 1/2/3 issue.
someone else has offered a pull with the changes to bring over all the deprecated events for 3, and i'm presently testing the codebase to make sure this all works with jquery 1.7+ (1.7 being the version MLeibman's branch is still at).
then the bower file will follow. never used npm my

[2016-07-21 08:05] 6pac commented on #38
any luck?

[2016-07-21 09:41] DimitarChristoff commented on #41
i am more concerned with going forward and performance than backwards compatibility, to be fair - which may mean misaligned goals.

for example, I am currently looking at deprecating jquery-ui and event.drag/drop stuff in favour of http://interactjs.io/ - interact.js is very small, portable, framework agnostic, performant and touch friendly. the only awkward stuff is sortables, which may remain us

[2016-07-21 09:44] morphean commented on #41
+1, switching to npm just makes life easier for everyone. and bower feels like legacy these days. ;)

[2016-07-21 11:46] 6pac commented on #41
it may be time to create a new repo for the forward-looking fork and diverge from the backwards compatible one. i understand that it's probably not possible to keep both in the one fork.
several people have discussed deprecating event.drag, but it's complicated (https://github.com/6pac/SlickGrid/issues/14, https://github.com/6pac/SlickGrid/issues/15). if you can make it work, that would be a welco

[2016-07-21 13:38] 6pac commented on #40
Sorry I can't do this right away - perhaps in a few days - but I think where you'd want to start is the ```flattenGroupedRows``` function in ```slick.dataview.js```. You should be able to do your logic there.
Using a formatter can make the row blank, but not remove it completely.

[2016-07-21 14:15] DimitarChristoff commented on #41
yeah agreed re bower. as for deprecation of event.drag, I have fully
working column resize with interact.js and currently deprecating UI
sortables for column reorder, but this is more complex.

I don't mean cut the umbilical cord but keep the top level API intact, more
or less.

will post something when I have it working, a few issues around edge cases
on forceFit and minWidth and maxWidth but loo

[2016-07-21 15:33] DimitarChristoff commented on #41
this is my early prototype for removing jquery-ui sortables. https://jsfiddle.net/dimitar/qmyLqLbr/1/ - mostly works, just now porting and making 'nice' and serialising the new column order.

[2016-07-21 17:12] DimitarChristoff commented on #41
ok this now works on my remote branch.

https://github.com/DimitarChristoff/slickgrid-es6/tree/interact-js - you can play with it by forking repo, checking out the branch and running `npm start` after `npm install`

https://github.com/DimitarChristoff/slickgrid-es6/pull/1/files is the diff - once again, WIP but it now has column reorder and resize and no external deps other than interact.js

[2016-07-27 17:36] dedward3 commented on #38
Sorry, I got sidetracked on something else. I'll try and get to it this evening, or tomorrow morning.

[2016-07-31 10:45] Excelautomation commented on #40
Hi 6pac, thanks for pointing out the `flattenGroupedRows`.

I managed to implement this; it's kinda primitiv but it works.

The formatter returns "HIDE THIS", assigned as the rows title. I implemented the logic within the groups-iteration, where every rows is checked for this specific title. `flattenGroupedRows` is changed to:

      function flattenGroupedRows( groups, level ) {
            level

[2016-07-31 11:07] Excelautomation commented on #37
@haneeftaj check out [http://js-grid.com/docs](url) it uses tables instead of div's. If you're more interested in that. :-)

[2016-08-02 03:33] 6pac commented on #40
thanks for posting code!
it's a good use-case. i think i'll incorporate it into the grouping code sometime.
it could automatically do a ```COUNT``` of the group and hide if only one member.

[2016-08-02 08:12] Excelautomation commented on #40
Np!

Yes that would properly be the best solution.

Nevertheless, it's much better now :-) http://prntscr.com/c0jxbq

[2016-08-07 21:46] longraider007 opened #42 "does content menu work (example 7) in dataview?"
Hi,

I try to implement example 7 where with the right mouse click you get the content menu.
In my test I use dataview.  The problem for me is this code:
    grid.onContextMenu.subscribe(function (e) {
      e.preventDefault();
      var cell = grid.getCellFromEvent(e);

While in the example the 'grid.getCellFromEvent(e)' give you the cell and row, I get 'null' in my dataview.

My question is if t

[2016-08-09 17:35] ubhutani opened #43 "paging # issue if search returns page size"
If I do a search on the 2nd page and if the number of items returned equal the page size then the
page does not flip back to the first page. Instead it says Page 2 of 1. The page back arrow does allow me to go back and then it says Page 1 of 1 correctly.

I also get the same error if I change example4 - http://mleibman.github.io/SlickGrid/examples/example4-model.html

Replace this code -

for (var

[2016-08-19 08:12] 6pac commented on #43
This is fixed. Thanks for submitting the bug.

[2016-08-19 08:12] #43 closed

[2016-08-19 08:14] 6pac commented on #38
Can you possibly tweak an example page to reproduce this behaviour?

[2016-08-19 11:10] 6pac commented on #42
I tried adding the menu to example-4-model and it works fine. The dataView and this menu feature aren't related, so there would be no logical conflict between them. Check your code.
I can't assist further without a copy of the code. I'm working on a jsfiddle template for SlickGrid.

BTW, you should be asking these questions on StackOverflow, not here.

[2016-08-19 11:10] #42 closed

[2016-08-19 13:42] #14 closed

[2016-08-19 13:44] #13 closed

[2016-08-19 13:45] #18 closed

[2016-08-19 13:46] #29 closed

[2016-08-19 13:52] 6pac commented on #41
Thanks Dimitar, I have now completed integration of the updates for the existing repo to work with jQuery 3. I'm now tidying up some of the smaller issues. Since your changes are major, I'll probably look at them in a couple of weeks. Just keeping you in the loop.

[2016-08-21 23:55] 6pac commented on #33
Hi Yulia, and sorry this slipped through without reply. You might want to try StackOverflow which is the official place for questions.

You are correct that the re-filtering in this example is not optimal. I suppose the issue is that filtering may have changed and that there would need to be a 're-filter' flag to indicate to do the filtering again.
As I've said elsewhere in these forums, SlickGrid

[2016-08-21 23:55] #33 closed

[2016-08-22 23:52] ZheyangSong commented on #41
+1. I simply would like to see this awesome library can support AMD-like environment. And I found a possibly unmaintained repo (https://github.com/sortex/amdjs-SlickGrid). It's not been updated since several years ago and definitely is lack of new features from this repo. Can we expect some solution on making this well-maintained library work with AMD-like environment? (No well trained developer/e

[2016-08-23 02:12] 6pac commented on #41
@ZheyangSong  we have had a few requests for various package managers, which I'm working through.
I'm not personally that keen on AMD, and it would have an impact on the codebase making it hard to use for non-AMD projects. The changes in the repo you mention are pretty clear and simple. I'd suggest [turning them into a patch](https://ariejan.net/2009/10/26/how-to-create-and-apply-a-patch-with-git/

[2016-08-23 10:46] DimitarChristoff commented on #41
you can use UMD and set build target to that but it can be annoying when
deps like jquery-ui are completely non compliant and need special requirejs
configurations to get going.

On Tuesday, 23 August 2016, Ben McIntyre <notifications@github.com> wrote:

--
Dimitar Christoff

"JavaScript is to JAVA what hamster is to ham"
@D_mitar - https://github.com/DimitarChristoff

[2016-08-24 17:00] RMoyles opened #46 "triggering a modal on click event on only specific column and row"
Hi:
Trying to get a modal to trigger on a click event only for first row in column 10 only.
This field will be the same for each row and I need to display information about it's properties only on the first instance on the text box in column 10 row 1. It will display additional information about the field because the form has similar  named fields. Any help with this would be great. Thanks so much

[2016-08-24 20:21] diskman commented on #46
hello maybe below code will be useful

[code]

[2016-08-25 12:50] RMoyles commented on #46
Thanks I'll try this but can you please explain acceptance score and external number are. Are they just fields in your grid. And where does the actual Modal script go outside the slick grid at the bottom where I usually put my java script code?
Thanks

[2016-08-26 00:31] 6pac commented on #46
jQueryUI has a model too I believe

[2016-08-26 14:40] RMoyles commented on #46
How would the JQueryUI model be used on an exact cell(row & column) and
what editor or attribute do I use in slick grid to get it display the Modal
when that exact cell is clicked.

grid.onClick.subscribe(function(e, args) {
    var cell = args.cell,
    row = args.row;
});

To get the focus on my cells but how do I trigger the Modal on focus of Row
=1 column = 10 ?

Thanks

On Thu, Aug 25, 2016 a

[2016-08-26 16:32] RMoyles commented on #46
Here is the layout

<script>
    var columns = [

        { id: "SampleNumber", name: "Sample No.", field: "SampleNumber",
minWidth: 120, editor: Slick.Editors.Text, formatter:reportFormatter }
    ];
</script>

Here is the jscript
<script>
    function reportFormatter(row, cell, value, columnDef, dataContext) {
        return "<button class='show-report'>show</button>";
    }
    grid.onClick.sub

[2016-08-26 16:34] RMoyles commented on #46
Here is the layout

<script>
    var columns = [

        { id: "SampleNumber", name: "Sample No.", field: "SampleNumber",
minWidth: 120, editor: Slick.Editors.Text, formatter:reportFormatter }
    ];
</script>

Here is the jscript
<script>
    function reportFormatter(row, cell, value, columnDef, dataContext) {
        return "<button class='show-report'>show</button>";
    }
    grid.onClick.sub

[2016-08-26 18:31] mpGitHub opened #47 "Error when using with jquery 3.1.0"
I'm getting an error when using with the latest version of jquery 3.1.0 with the latest version of slickgrid 2.3.2.

I get an exception in jquery.event.drag-2.2.js on fixHooks not being defined.  It looks like this is not present in jquery 3.1.0???  Everything works fine if I use an earlier version of jquery.

Error: is Uncaught TypeError: Cannot set property 'touchcancel' of undefined.
<pre>
// e

[2016-08-27 09:56] 6pac commented on #47
could you post a simple test page? we tested with all the standard examples, including row-reorder which has drag and drop. looks like you've caught something we missed.

[2016-08-27 09:59] 6pac commented on #46
have you checked out: example-composite-editor-item-details.html ? that's quite similar ...

[2016-08-29 13:22] RMoyles commented on #46
I'm I correct in assuming all I need is lines 18-56 to create the modal and effects and lines 143-188 to process it. How would I just get it to trigger on cell(1,10) and not any other cells in 2,10 or 3,10 and so on.
Sorry for the questions it's just that's its very hard to follow when everything is just added to the same example that has nothing to do with my question over and over again.
Thanks

[2016-08-29 13:33] 6pac commented on #46
how about binding to the OnClick Event.

    onClick(args, e)
      where args is {row: cell.row, cell: cell.cell, grid: self}

[2016-08-29 13:43] RMoyles commented on #46
Okay thanks for the quick response. Where should the OnClick event go in the example so it triggers when the grid is already initialized? I want a  message like " You can use this sample number as a reference to look up your account standing" when the user enters in the sample number only on the first input box in column 10. So when a new sample number is entered in the 2nd row of column 10 there

[2016-08-30 00:29] 6pac commented on #46
You need to subscribe to the event. Here's the code from ```example5-collapsing.html```

    grid.onClick.subscribe(function (e, args) {
    if ($(e.target).hasClass("toggle")) {
      var item = dataView.getItem(args.row);
      if (item) {
        if (!item._collapsed) {
          item._collapsed = true;
        } else {
          item._collapsed = false;
        }

        dataView.updateItem(i

[2016-08-31 00:45] 6pac commented on #28
if you can link to a pull request or list of changes, that would be good. even the old ones before I added the footer code would do.

[2016-09-02 18:34] jdtemple commented on #47
I thought I'd chime in that I'm having the same problem. I have a client's website that uses quite a few SlickGrid components and was forced to downgrade jquery to avoid this error. I am on Michael Leibman's code, version 2.2. If there's a viable update I can get without having to spend a bunch of time and money switching to another grid product, I'd sure like to.

Rolling back to jquery 2.2.3 avo

[2016-09-04 09:42] 6pac commented on #47
Can I reiterate that I'd like a sample? It's hard to fix the problem if I don't have a test case. All the standard examples work just fine.

[2016-09-06 15:57] jdtemple commented on #47
Let me see what I can do. I can't promise anything because I don't know how much time I am able to devote to it.

[2016-09-06 17:58] jdtemple commented on #47
It was easier than I thought it would be. I didn't have to even set up any grids; just set up the script bundles and load a stock MVC project site.

[https://github.com/jdtemple/SlickGridTester](https://github.com/jdtemple/SlickGridTester)

[2016-09-06 23:50] 6pac commented on #47
Whoops. that's a bit embarrasingly simple :-)
My dev env for Slickgrid is just a local copy of the repo. But i suppose there are a million ways to integrate that with server side stuff.
Anyway, I have some fully blown MVC sites in my dev setup, I'll try your sample and them too.

[2016-09-07 00:08] jdtemple commented on #47
Awesome. Thanks! Once it's verified working, I'll switch my project over to use your SlickGrid and the latest jquery.

[2016-09-07 09:58] evil-shrike opened #48 "Provide issues for each "fix" with description"
Hi.
The repo is a good idea. But I beleive its current state is unacceptable for being a replacement of the master SlickGrid.
The fix list contains just short notes like "fix bug with refresh last row of grid". What does it mean? What bug with refresh?
There should an issue with full description of the bug. And so for each fix. Then it will make sense.

[2016-09-08 01:18] 6pac commented on #48
In most cases I reference the issue number where a reported issue has been fixed. However if I discover a problem, as I did with that one, I don't usually raise an issue. I have been thinking it might be good practice to do so, but it could be a lot more work too. I'll review fixes to see the state of them.
Whenever a new feature is added, there is nearly always a new example, but I haven't gone b

[2016-09-09 01:12] funkytaco commented on #48
If it discourages you, don't go through the extra motions. Not sure it's worth the time myself.

[2016-09-10 01:41] 6pac commented on #47
OK, doubly embarrasing. I should have caught this one on reading the first comment.

The jquery.event.drag and .drop files have been updated to 2.3.0 along with the updates to slickgrid. They are in the latest repo.
I need somewhere to advertise this fact, but the logical thing is to duplicate MLeibman's docs and update them all. Then we'll have a complete set of updated docs. Will hopefully get t

[2016-09-12 20:29] jdtemple commented on #47
I was able to get everything switched over to your repo from mleibman's on jquery 3.1.0 and deployed. Thanks for your help!

[2016-09-13 01:10] #47 closed

[2016-09-15 08:00] GreggGut opened #50 "Clear Items for slick.dataview"
(This is more of a feature request than an issue.)

I think it would be useful to have a clear all for the dataview module.
The use case here would be if you want to remove and replace all of the items in the table. Currently you have to do it one by one using the deleteItem(id) method. Having a clearItems() method would be much more efficient and clearer.

If you think it fits within the scope of

[2016-09-15 23:25] 6pac commented on #50
There are a couple of options: setItems() sets the data object, which could be new and empty. Alternatively, you could just create a whole new DataView and set the grid to refer to that.
You are correct, however, if you wish to leave the existing objects. It might be a good addition.

I have a different data object I use with my grid, so I don't actually use DataView that much,

[2016-09-16 06:39] GreggGut commented on #50
Thanks, setItems() will work great! I'm not sure how I missed it :)!

[2016-09-16 06:39] #50 closed

[2016-09-25 09:50] aparmar opened #51 "Grunt deployment issues when date editor has image url hard-coded"
I suggest we remove that and put it in the css, like so:

[code]

The  button image line can then be removed from the slick.editos.js

Some more context: If it is in the JS file, and you run grunt (where files get moved around), then it will point to the wrong url. The CSS files on the other hand, will likely need to get fixed to account for images moving around.  I do that through grunt search an

[2016-09-26 18:33] anthonydresser opened #52 "Performance Issue with multiple slickgrids on the same page"
I am currently using the older SlickGrid implementation from the main branch (2.2), however, after looking at the problem and looking at the code difference it appears this would still be a problem with the latest version (this fork is also more active).

Essentially the problem is that having 15+ slick grids on the same page can make initialization very slow (exponentially/factorially with the nu

[2016-09-27 11:17] 6pac commented on #52
OK, so have you tried the ['40 grids on a page'](https://github.com/6pac/SlickGrid/blob/master/tests/40%20grids%20on%20a%20page%20test.html) test? Have you checked out [dynamic creation of grids?](http://6pac.github.io/SlickGrid/examples/example-dynamic-filtered-with-jquery-tabs.html)

This re-rendering doesn't sound like Chrome - you need to tell us what the browser type and version is.

[2016-09-27 11:39] 6pac commented on #52
I note http://6pac.github.io/SlickGrid/tests/40%20grids%20on%20a%20page%20test.html loads in 1.8 seconds in Chrome for me.
When I turn on profiling it hangs. Perhaps this is an artifact of the profiling?

[2016-09-27 11:47] 6pac commented on #51
good idea. away at the moment, will fix this on Oct 12th.

[2016-09-27 17:28] anthonydresser commented on #52
I'll need to take a closer look at that 40 grids test as it is significantly faster in loading than my 15 grid test.

I'm testing on Chrome Version 53.0.2785.101 (64-bit)

[2016-09-27 21:52] anthonydresser commented on #52
So I've done some closer look at the call stacks for slick grid init. Here are come captures from the callstack of my application on the init of the 40th grid compared to the SlickGrid test on the 40th grid.

[Mine](http://imgur.com/Xthq8JI)
[SlickGrid Test](http://imgur.com/a/EFBqX)

As you can see there is a significant difference in the time required to perform the init, and almost all the bott

[2016-09-29 04:47] 6pac commented on #52
firstly, what version of jQuery are you using?

also, i've never used Angular, but that's by choice, because i've been afraid of the auto-magic re-rendering functions doing exactly this. i've heard anecdotally of web pages becoming unmanageable under Angular just through complexity, not even with a grid. these things tend to follow an order n^2 rule, so it gets ugly quickly. apparently angular 3 h

[2016-09-30 18:09] anthonydresser commented on #52
I've tried with both JQuery 1.11 (which is the version the 40 grid test uses) and with JQuery 1.7.

[2016-10-06 19:08] CSTufts commented on #26
+1

[2016-10-08 10:40] 6pac commented on #52
Any progress? It would be interesting to remove angular altogether and see what happens to performance. If that's even possible.

[2016-10-10 19:05] anthonydresser commented on #52
Unfortunately, the page is pretty hooked into angular, so removing angular would basically be rebuilding the entire page. For now I've just implemented a semi-virtual scrolling system and just kind of have to deal with the ui lockup when a new grid is rendered.

I might look into simplifying the DOM and css at some point to see if I can get any significant performance increase from that.

Thanks f

[2016-10-18 13:47] 6pac commented on #51
done

[2016-10-18 13:47] #51 closed

[2016-10-26 07:29] Smilefounder opened #54 "Are we able to bring this nice to have plugin SlickGantt"
I found a nice to have plugin here, but don't know how to use it yet... :(
But if we could merge this one to our source then it will be nice 👍
https://github.com/demsullivan/SlickGantt

[2016-10-26 23:13] 6pac commented on #54
Not sure that this one is fully working yet. An example would be nice. But issue #2 on that repo is 'Get Working' and has a list of features that I don't think work yet.

[2016-10-28 16:47] mpetkov opened #55 "Add repo to NPM?"
Is there a reason why this repo is not on npm?  It looks like the only available version is from jpsullivan but he has version 2.2.12 which is behind:
https://www.npmjs.com/package/slickgrid-6pac

It would help a lot if this fork was added to npm.

[2016-10-28 20:43] mpetkov commented on #26
I am also switching to the JLynch7 branch beacuse I need fixedColumns.  It would be great to implemet that feature in this repo which is up to date.

[2016-10-29 00:22] 6pac commented on #26
been on the 'to do' list for a while. i'm just too busy.
if anyone is keen to do the main parts of the merge, i'd be happy to test and troubleshoot to get it to standard. my main problem is actually disentangling out what the changes are for that feature.

[2016-10-29 00:26] 6pac commented on #55
i don't use npm. i have looked into it and it is not trivial to set up (possibly if you're an experienced user, it is).
also, if i recall correctly, once it's set up for npm, you can't just reference the files in say an ASP .NET MVC project that does all its own bundling. so there would have to be two branches, npm and vanilla.
if you'd like to write a pull request, i'll see that it gets incorpora

[2016-10-29 14:10] mpetkov commented on #55
@6pac - Actually it is just as simple as pushing the repo as-is to npm.  So no code changes are necessary.

[2016-10-29 14:21] jpsullivan commented on #55
Hey guys, 6pac actually reached out to me and asked if it was cool if he could port a few changes over. Once this happens, I'm happy to give 6pac the npm name (if possible) or add a deprecation message to my npm install script.

Does anyone have thoughts about the best way to move forward with that?

[2016-10-29 15:29] at88mph commented on #26
No kidding.  I tried it once and the frozen code from that branch is interwoven quite nicely.  Perhaps a new implementation is in order?

Thanks for the replies, Ben.

[2016-10-29 16:34] mpetkov commented on #55
You would have to keep the existing one for sure because you don't want to break other people's projects that depend on it.  So if the npm repo will continue to be updated via the @jpsullivan fork, then business as usual.  However, if it is decided that the @6pac fork will be the main one and all updates will go here, then you will have to create a new npm repo to avoid confusion.

That's just my

[2016-10-29 16:53] jpsullivan commented on #55
Yeah, that was sorta what I was thinking too. I can update mine though to provide a deprecation warning when updating or doing a fresh npm install though to point users in the right direction.

Personally, I'd rather use the "official" fork versus my own, and I assume many users would prefer the same.

[2016-10-30 12:17] 6pac commented on #55
I tend to agree on a single point, not that i want or need control over it, but with two repo owners it's definitely easier for things to get stale on one or both sides.
The thing that worries me is there are people doing SlickGrid updates to lose the jquery dependencies (haven't got around to testing it yet, but this would be another repo), and other agitating for the frozen columns feature (and

[2016-10-30 12:22] 6pac commented on #26
In some ways I'm thinking rather than try to integrate JLynch7's changes to my repo, it might be a lot easier to just fork JLynch7's repo and apply my changes to it. They do tend to be small and atomic.
Would also depend on at what point JLynch7 forked from MLeibman and how well it was kept up to date after that.

[2016-11-03 13:20] maxim-s-barabash opened #57 "Cannot find stylesheet."
This old problem with webkit.
Looking at the code I have a question.
Why is loop on the document.styleSheets ?

slick.grid.js
[code]

that if we replace on

[code]
Thanks in advance!!!

[2016-11-03 20:51] schhunchha commented on #22
Any update?

[2016-11-04 00:16] 6pac commented on #57
there can be an arbitrary number of stylesheets in a document. we don't know we will be the first. also, i believe a dynamically added stylesheet does not appear for a short time - it's part of the page load queue. there are a series of issues in the MLeibman repo in this topic, but the resolution seemed to be correct page load order practices rather than anything else.

[2016-11-04 09:15] maxim-s-barabash commented on #57
In any case, the loop is superfluous.
Stylesheet or are ready or not, at the time of calls getColumnCssRules.

[2016-11-07 02:11] 6pac commented on #57
OK, have had a look. Your change makes sense, but I can't find documentation on the ._sheets_ property anywhere.
I am not in a hurry to make changes to core parts of the code like this that might break on some browser somewhere. It's not time-critical code, so I don't think it will make just about any performance difference. Do you have history of that property, what browsers/engines it works and

[2016-11-07 08:50] maxim-s-barabash commented on #57
[MS style element](https://msdn.microsoft.com/en-us/library/ms535898(v=vs.85).aspx)
**sheet** - Gets the CSS style sheet that is associated with the object.
**styleSheet** - Retrieves an interface pointer that provides access to the style sheet object's properties and methods.
Note  For the style element, styleSheet is no longer supported. Starting with IE11, use sheet. For info, see Compatibility

[2016-11-14 17:11] adamatyork opened #62 "Make a Nuget package available?"
Similar to #22 , it would be great to have a nuget package available to make it easier to update from original SlickGrid to this Fork in commercial dev environments.

[2016-11-15 02:22] zakimaksyutov opened #63 "Where is the source branch for jquery.event.drag-2.3.0.js?"
Having troubles locating it. Will appreciate if someone points to it.

Thank you!

[2016-11-15 03:37] 6pac commented on #63
check in the code tab under the ```/lib``` folder

[2016-11-15 03:37] #63 closed

[2016-11-16 18:00] zakimaksyutov commented on #63
Thank you, yes I found it there.

My question was from where did it come from? In other repositories I found version 2.2.0. But not 2.3.0.

[2016-11-16 23:45] 6pac commented on #63
So the 2.2 file originally came from ThreeDubMedia.
The repo was update to be compatible with jQuery 1.8 onwards, plus  2.x and 3.x by @lfilho https://github.com/6pac/SlickGrid/pull/39
and he also updated the jquery.event.drag library https://github.com/6pac/SlickGrid/pull/44

So this version of the drag and drop libs are exclusive to here.
There have been attempts to rewrite SlickGrid to remove t

[2016-11-17 09:40] DimitarChristoff commented on #63
I got it to work ok but there are some edgecases when using frozen columns
and reorder.

a colleague of mine is working on it now. will ping him as there needs to
be a few webpack changes but will drop a more stable release soon

On Wed, 16 Nov 2016 at 11:45 pm, Ben McIntyre <notifications@github.com>
wrote:

[2016-11-23 08:34] jscriptcoder opened #65 "Getting rid of all the jQuery dependencies"
Hi there,

I've been using Slickgrid for a while already in several projects in the last 2 years and a half. I personally find this grid amazing. Probably one of the best out there, and I'd offer myself to contribute with its development... Only thing I find sad is having these, in my personal opinion, unnecesary dependencies. The only reason why I'm including jQuery in those projects is just beca

[2016-11-23 12:25] 6pac commented on #65
@jscriptcoder, meet @DimitarChristoff

https://github.com/6pac/SlickGrid/issues/41

[2016-11-23 12:25] #65 closed

[2016-11-24 01:52] 6pac commented on #55
OK, we are proudly now on NPM. Thanks to Roman Shtylman for giving me the keys to the 'slickgrid' npm name (i thought it should be used in preference to 'slickgrid-6pac'). Many thanks to @jpsullivan for providing the bulk of the solution.

I have taken the approach of creating a separate file ```slick.grid-npm.js```, and similar for dataview and core, so we have a version that works with npm and o

[2016-11-24 01:54] 6pac commented on #55
Released version 2.3.3

[2016-11-25 00:02] #55 closed

[2016-11-28 00:24] 6pac commented on #55
Sorry for the flip-flopping (I figure it's better to change early rather than wait), but I have decided to restructure the way the npm files are stored. They are now in a separate ```npm``` folder.

From what I can see, npm has two uses. Firstly, it delivers packages of files, like Nuget or Bower. This is non-controversial. But secondly, it allows dependencies to be expressed using code within the

[2016-11-28 00:25] 6pac commented on #55
Release 2.3.4

[2016-11-29 07:12] gchokhonelidze opened #66 "Problem with using latest bootstrap 3.3.7"
After including latest bootstrap 3.3.7 the header of grid does not match its content any more.

[2016-11-29 07:19] 6pac commented on #66
check out the [blog post] (http://low-bandwidth.blogspot.com.au/2015/06/slickgrid-with-jqueryui-and-bootstrap.html) that led to the fix for that. Let me know what you find.

[2016-11-29 09:29] zakimaksyutov commented on #63
Thank you!

[2016-11-29 09:33] zakimaksyutov opened #67 "Should SlickGrid throw Error and not strings?"
Hello,

When exception occurs (rows have same id), SlickGrid usually (always?) throws them as strings:

[code]

As a result in try/catch we also get only a string without stack trace and other information. Which makes debugging things harder, especially when it repro's only on user's browser =)

Does it make sense to move towards

`throw new Error("Each data element must implement a unique 'id' pr

[2016-11-30 03:39] 6pac commented on #67
You're right. Thanks for the heads up.
I just committed these changes.

[2016-11-30 03:39] #67 closed

[2016-12-01 21:00] cpeter0 opened #68 "Editors Fail With Slick.RowSelectionModel({selectActiveRow: true})"
Modify examples/example-checkbox-row-select.html line 89 to grid.setSelectionModel(new Slick.RowSelectionModel({selectActiveRow: **true**})); causes editing of cells to fail. Works in original SlickGrid.

[2016-12-01 21:11] cpeter0 commented on #68
Apparently has something to do with line 90 grid.registerPlugin(checkboxSelector); If this is commented out the check boxes appear and are functional except for "select all rows" checkbox in grid header.

[2016-12-02 22:54] zakimaksyutov commented on #67
Wow, this was fast, thank you very much sir! Looking forward to the next release.

[2016-12-02 23:01] zakimaksyutov opened #69 "onClick is not called if there was a grid update between mouse down and mouse up"
My app updates grid values every second. As a result I noticed that if update occurs between mouse down and mouse up then onClick handle is not called.

Is it expected? Or do I update data incorrectly?

Asking in case someone knows the right approach. Starting looking deeper into it myself as well.

[2016-12-02 23:37] zakimaksyutov commented on #69
This is because SlickGrid subscribes on $canvas which gets updated (replaced?).

[2016-12-03 00:35] zakimaksyutov commented on #69
More information: subscribing on $viewport didn't help (I guess because "click" is still tracked on individual divs which get rerendered upon update).

The solution which works is to subscribe on mousedown/up events and handle all complexities myself.

I think SlickGrid should expose mousedown/up events and let plugins/clients handle the complexity of wiring them together.

Then for my app (and fo

[2016-12-04 03:17] zakimaksyutov opened #70 "Horizontal/vertical scroll bars flipflopping upon every update/redraw"
My app uses options.forceFitColumns = true (my understanding of this setting = no horizontal scrollbar). But in some cases, when canvas still fits into viewport, I see either 1) both scrollbars present or 2) horizontal and vertical scroll bars flip flop every redraw [horizontal scrollbar is visible, vertical is hidden; then vice versa; ...]

I tried to debug the math SlickGrid is doing but my curr

[2016-12-04 22:24] zakimaksyutov commented on #69
Actually for mousedown/up events there is no need to extend SlickGrid, app can subscribe on them via main container:

[code]

Now it comes the tricky part to reimplement click event based on mousedown/up (same data row, ESC, etc.).

I'm closing this issue because there is nothing to add to SlickGrid to support this scenario. It might make sense to support it in DataView but if there are no asks th

[2016-12-04 22:24] #69 closed

[2016-12-05 00:17] 6pac commented on #69
Thanks for your thoughts. Events are always a bit of a hotspot for requests for functionality, and I'd like to sit down and comprehensively review all the options. Even if we don't need to add the mouse events, we should document them for future requests like yours.
I've also written a [manifesto](https://github.com/6pac/SlickGrid/wiki/4-The-SlickGrid-Manifesto) rather than repeatedly type a scree

[2016-12-05 07:30] zakimaksyutov commented on #69
Absolutely. If there is a way to solve it without bringing additional code into core - that's the right way.

Thank you for your work, amazing control =)

[2016-12-06 14:52] alexk-z opened #71 "Text selection over multiple rows is broken"
When enabling text selection for rows and trying to select text on multiple rows at the same - I get broken behavior in Chrome after scrolling up and down. Please see GIF below for the example.

Is there a fix/work-around for this issue?

![Broken selection](http://g.recordit.co/tLPunvTinW.gif)

[2016-12-06 14:56] alexk-z commented on #71
From inspecting DOM - rows can be selected continuously, if they appear in order. However, SlickGrid mixes them up and after scrolling up and down rows are not in order in DOM. They appear in order on the screen because they have absolute coordinates.

Is there a way to force/ensure that rows are ordered in DOM model?

[2016-12-07 01:05] 6pac commented on #71
Not quite sure of your use case here. Is the above an actual grid, with all the borders etc switched off, or some kind of debug dump?
I don't think SlickGrid was really designed for this. It should allow selection of text in a cell, and also selection of multiple rows. I tend to thing selecting text in multiple rows is an unintended side effect of how the browser selection works.
So short answer,

[2016-12-07 09:14] alexk-z commented on #71
Thank you for fast reply!

That is grid with all borders switched off. SlickGrid is used here for virtualization of text entries.

So this is not supported setup. I will look into fixing the order of DOM elements in post-render sequence as a hack for my case.

If you could share any insights on the best approach of doing this hack - that would be really kind of you, given that this is not intended

[2016-12-07 12:46] 6pac commented on #71
one of the features of slickgrid is that it uses row diffs, so then when the viewport changes, it only replaces rows that have changed. this would be what's causing the out of order DOM nodes.
one solution would be to disable that and replace all the rows all the time.
invalidateAllRows() might be a start.

[2016-12-07 23:56] 6pac commented on #71
Great :-)

[2016-12-08 15:13] alexk-z commented on #71
Well, it seems to be working. Closing the issue =)

[2016-12-08 15:13] #71 closed

[2016-12-09 00:57] Aibric commented on #68
I have the same problem ... ...

[2016-12-09 01:37] 6pac commented on #68
will try to look at this soon

[2016-12-13 23:34] Lamadros opened #72 "Column order working incorrectly"
video explanation: http://screencast.com/t/HUzmKXO2RD

AR: As you can see from video, i can not move calendar_date to the right side.
ER: I can move calendar_date to the left(right)-side

[2016-12-14 01:24] 6pac commented on #72
Hi @Lamadros, if I open up example-4-model in my local repo, the column sorting appears to be working perfectly.
There must be something special about that column. Can you reproduce the problem in a cut-down form, eg. modify an existing example page so we can test run it locally? (BTW as you set this up, 90% of the time you'll find the problem!)
At least I'd have to see the column object array JSO

[2016-12-14 01:30] 6pac commented on #72
I do notice that the point you click on the column header must be dragged over the midpoint of the adjacent column, for the column reorder to kick in.
That is quite a wide column, and if you click at its left you probably won't be able to drag it far enough over. Try clicking at the right of the column header and then dragging right.

[2016-12-19 06:32] 6pac commented on #72
was i right?

[2016-12-19 06:34] 6pac commented on #48
I tend to agree, in the case mentioned above, you can easily see the code changes in the commit. It's a small amount of code, clearly fixing a bug.

[2016-12-19 06:34] #48 closed

[2016-12-25 06:45] xeoshow opened #74 "Does this fork support mobile device?"
Hi,

I am new to this fork of SlickGrid, does it support touch event so could work on mobile device?

Thanks a lot!

[2016-12-25 12:16] 6pac commented on #74
Hi @xeoshow,
this is essentially an active and up to date version of MLeibman's repo.
i don't think mobile devices have been given high priority. But if you are keen to get the grid working in a mobile environment, I'm happy to offer help with problems that you come across.

[2016-12-26 01:26] xeoshow commented on #74
Hi,
Thanks for reply, I am just trying to choose a grid component for developing my product, and found this is an active fork of slickgrid. And I found below fork of slickgrid, not sure if it is merged in 6pac branch.
https://github.com/reebalazs/SlickGrid-touch

Thanks a lot!

[2016-12-26 05:29] 6pac commented on #74
Thanks for the link, I hadn't seen that version! I will have a look. It was probably forked a while back, and that could make it hard to merge, though...

[2016-12-26 23:48] xeoshow commented on #74
Below are the more background information related:
http://www.slideshare.net/reebalazs/slickgrid-touch-making-complex-javascript-widgets-work-on-mobile-devices
http://stackoverflow.com/questions/11500842/slickgrid-mobile-look
http://stackoverflow.com/questions/10051694/slickgrid-in-the-android-browser-inner-div-scrolling

Slickgrid has a solid codebase, hope it could also be used in the mobile dev

[2016-12-27 01:08] 6pac commented on #68
This is a *really* complicated bug, unfortunately, to do with active cell selection.
It will probably take 6 to 10 hours to fix at some stage, and will involve reworking all the active cell logic for the grid.

I can't even work out a quick patch yet, but if I do I'll post it.

[2016-12-27 18:22] willwoodlief opened #75 "css typo"
https://github.com/6pac/SlickGrid/blob/master/slick.editors.js#L537 should be background not backround

Have a happy new years, everyone

[2016-12-28 21:19] jackfruh opened #76 "Not an issue, just wanted to say thanks"
Just wanted to say **thanks** to 6pac and others for the continued work on SlickGrid.

I'd have contacted 6pac directly, but there's no contact info for him.

If there's a better way to leave feedback on Github than this, please let me know.

- Jack

[2016-12-30 00:12] 6pac commented on #75
word. committed.

[2016-12-30 00:12] #75 closed

[2016-12-30 00:50] 6pac commented on #76
Thanks, Jack!
I updated my profile to show an email address, perhaps I'm ready to be slightly less paranoid...

It's great to be able to keep the Slickgrid bandwagon rolling forwards. I do this in my 'spare time' (ha!) and it can feel like i'm dragging the chain a lot of the time. But I do what I can, and welcome anyone else who is happy to step up.

It's hard to gauge where SlickGrid is headed in

[2017-01-02 08:24] 6pac commented on #74
Just FYI, the reebalazs repo changes are all to do with Bootstrap compatibility, and nothing to do with touch (although Bootstrap does bring a certain amount of touch compatibility, but it's a pretty major change as jQueryUI is a fundamental part of the grid and there are well document conflicts between jQueryUI and Bootstrap).

The links in Slideshare are all dead, as is the repo for FastBreak.

[2017-01-09 15:24] mcgilman commented on #70
I believe I'm seeing the same behavior with a sporadic horizontal scrollbar. It may be being caused by a recent change in jquery [1]. It seems the available width/height now contains more precision which is causing an additional iteration when calculating column widths.

[1] https://jquery.com/upgrade-guide/3.0/#breaking-change-width-height-css-quot-width-quot-and-css-quot-height-quot-can-return-n

[2017-01-10 01:35] 6pac commented on #70
I will have a look. I suppose the easy solution is just to round/truncate the returned value. If possible, a reliable test case to display the bug would be welcome. Is it possible to mod one of the examples?

[2017-01-11 09:35] alexcroox opened #77 "Auto width columns based on column header length"
Apologies if this is already configurable, I couldn't find anything in the docs/wiki.

Is there a way to have the columns auto expand to the width of the column header?

I don't know the column headers ahead of time so I cannot set a custom `minWidth` as the table is using dynamic data from different sources every time.

The default looks like this for me on load:

![https://cl.ly/iiT3/Screen%20Sh

[2017-01-11 13:06] 6pac commented on #77
how about ```forceFitColumns``` ? https://github.com/mleibman/SlickGrid/wiki/Grid-Options

[2017-01-11 13:13] alexcroox commented on #77
Unfortunately there could be a very large number of columns that would require horizontal scrolling.

For now I'm counting the char length of the column header, then taking an average of all the data char lengths for each column and setting the width based on the larger of the 2.

[2017-01-11 13:21] 6pac commented on #77
That sounds pretty optimal. Much better than a simple 1/n proportional model. Might be worth posting the code, it could be made a new option or plugin, since it's a pretty common need.

[2017-01-11 13:29] alexcroox commented on #77
It's fairly simple but sure I've ripped out the relevant parts:

[code]

[2017-01-11 13:46] 6pac commented on #77
thanks, saves probably 45 minutes of drudge!

[2017-01-11 13:48] alexcroox commented on #77
No worries, could prob be a bit smarter about taking into account cell padding css so you don't need weird arbitrary numbers like I put in the last 2 lines

[2017-01-13 15:52] mishal153 opened #78 "using Grid.GotoCell doesn't invoke OnAddNewRow when expected"
I have 'enableAddRow' as 'true' in the grid options. If I click on then new row's first cell, edit cell value and move to adjacent cell, then OnAddNewRow handler gets called as expected.
But that doesn't happen if I choose to navigate to new row's first cell using _grid.gotoCell(_grid.getDataLength(), 1, true); and then edit cell value and move to adjacent cell

Any suggestions how to get around t

[2017-01-20 05:21] 6pac commented on #78
I think you may have another bug. I tried modifying ```example3-editing```, adding a button to do ```_grid.gotoCell(_grid.getDataLength(), 1, true);``` and putting an alert at the start of the ```OnAddNewRow``` handler. Works perfectly.

[2017-01-20 05:37] 6pac commented on #54
Yep, I put together a basic page using the plugin and it doesn't do anything significant.

[2017-01-20 05:37] #54 closed

[2017-01-20 19:23] at88mph opened #79 "Publish latest to NPM"
There seems to be an alternative repository at [@jpsullivan's SlickGrid](https://github.com/jpsullivan/SlickGrid/), which is what the Node Package Manager displays as the current 6pac version.

Would you please update the latest (2.3.2 as of this writing) to NPM, and would it be a hassle to maintain that?

Many thanks

[2017-01-20 19:25] at88mph commented on #79
Nevermind, I just noticed the package I want is`slickgrid` rather than `slickgrid-6pac`.

Closing this issue.

[2017-01-20 19:25] #79 closed

[2017-01-23 05:04] zachary822 opened #80 "can I get an example of how to work with slickgrid and ReactJS?"
[code]
(above is pseudo-code)
this always get me a `Uncaught TypeError: _slickgrid2.default.Grid is not a constructor`.

[code]
this gets a `Cannot resolve module 'jquery-ui/sortable'`

[2017-01-23 07:25] 6pac commented on #80
I'm sorry, but I don't use ReactJs and don't know what its requirements are.
I've also been asked to integrate with Bower, NuGet and NPM. I don't use any of those. (Well, NuGet a bit, but mainly for C#)

If you'd like to work it out and submit a pull request, I'm more than happy to integrate it into the library.
If you have ```import``` directives indicating dependencies, that should be similar to

[2017-01-26 15:10] peterjoh opened #81 "CheckboxSelectColumn plugin breaks the onDblClick event"
When using the CheckboxSelectColumn plugin, it invalidates the clicked row so that the double click event doesn't trigger. edit: I have a possible fix that seems to work, in my fork.

[2017-01-27 02:33] 6pac commented on #81
can you be clear about the order of events to reproduce this: you are clicking the checkbox, then where are you double clicking? There have been a number of comments about this example, I'll take a look soon.

[2017-01-27 07:49] peterjoh commented on #81
I noticed it occurring when double clicking somewhere else on the row, not on the checkbox. So the error seems to be in the function handleSelectedRowsChanged, slick.checkboxselectcolumn.js:37. My fix consists of inserting this line

`if (!lookup[i])`

on line 49.

[2017-02-01 22:23] RalphMack opened #82 "Noisy error on drag.init with jquery.event.drag 2.3 and jQuery 3.1.1 - with proposed fix"
I'm seeing a problem with jquery.event.drag 2.3 on jQuery 3.1.1, but I'm not sure what the appropriate fix might be. The root problem is with the following:

[code]
The element passed from init is from an array that often contains things like booleans. jQuery 2.2.4 sees whether the elem is really an element and simply returns. jQuery 3.3.1 only checks that the elem is truthy and then performs func

[2017-02-06 05:20] 6pac commented on #82
Looks like the elements passed are controlled by the drag library, rather then jQuery. So your code stands.

Thanks! This has been incorporated into the repo just now. I'm going to be going over the issue backlog and issuing a new release later in the week.

[2017-02-06 05:20] #82 closed

[2017-02-08 16:08] hksan01 opened #83 "Runtime error "undefined" object when using Server-side paging in dataview"
I hope i'm not using it wrong. I'm using the code from example6 but with a dataview.
After the line dataView.setItems(loader.data,"uid"); runs, it lands on updateIdxById(startingIndex).
where the error is thrown when the items.length is 1000, but we only have 50 items loaded.
so the items[i][idProperty] is undefined when 'i' hits 50 and on.

   function updateIdxById(startingIndex) {
      startin

[2017-02-09 01:47] 6pac commented on #83
This is a fairly tricky change (going to a DataView). I can put together a new example page for it.
Could you post your source and remotemodel code.

[2017-02-09 02:48] hksan01 commented on #83
I still mainly using the example6 code, remotemodel remains untoched.
In the index.html, i use dataView.setItems(loader.data) when loader.onDataLoaded.subscribe(...) is executed from callback.

I have version 2.3.2.

The reason I want to do that using DataView is I want to use Footer Paging (0/25/50) and Header row filtering with Server-side paging.
And I haven't produce a listening server call ye

[2017-02-19 07:44] susdu opened #84 "search doesn't find tree children"
Is it a bug or just not implemented? can it be easily enabled?

thanks,
David

[2017-02-19 07:53] 6pac commented on #84
details: which example? steps to reproduce? i wasn't aware that there was even a tree example

[2017-02-19 08:01] susdu commented on #84
http://6pac.github.io/SlickGrid/examples/example5-collapsing.html

try searching for a nested record

[2017-02-19 09:12] 6pac commented on #84
that looks like a bug. it's filtering out the nodes correctly, but in some cases they don't have parents or they are activated parents. that filter probably shouldn't be in there.

there would need to be extra features built into the search, eg. if a node matches, include its parents even if they don't match, collapse a node if it no longer has sub nodes.

[2017-02-19 09:14] susdu commented on #84
can you point me to the relevant function? I'll fix the incorrect filtering and you can pull it

[2017-02-19 11:16] 6pac commented on #84
it's ```myFilter``` in the example file. there's some logic there already, but it may not be what you expect

[2017-02-20 12:51] YakovL opened #85 "Navigating via left/right arrows doesn't work as expected"
Hi, first of all, thanks for maintaining this great project, very nice that there's some open-source solution for excel-like interfaces.

I've tested some demos and found some major problems with editing, so in this issue I report the first one:
in Vivaldi (and Chrome)
in http://6pac.github.io/SlickGrid/examples/example3-editing.html
when Auto-edit is ON
there's no way to navigate to a cell to the

[2017-02-20 13:31] YakovL opened #86 "Implement copying/pasting multiple cells"
So I guess this is a major feature request, but it's a key point of an excel-like interface I'm looking for, so..

It will be very useful if it's possible to paste multiple cells from a spreadsheet (or another table) (when pasted as plain text, those are usually tab-separated "cells" in linebreak-separated "rows") and also (less important for me) to copy the selected cells (by pressing ctrl+C) in

[2017-02-21 13:03] 6pac commented on #86
Whoops! We have an example for that, but it's not listed on the example page!

http://6pac.github.io/SlickGrid/examples/example-excel-compatible-spreadsheet.html

Keep me posted with any enhancements or bugs.

[2017-02-21 13:06] 6pac commented on #85
I'd have to check more closely. I agree, there are some issues with cell navigation in general.
The accepted way to navigate is with the tab key, but one problem is that everyone has a different idea about how navigation 'should' work.
I have tweaked the editors and added some extra hooks in recently to allow more fluid navigation. Will make sure that gets fed back to this repo.

[2017-02-22 12:37] YakovL commented on #86
Ah, right, this may be closed than, only it would be nice to have an example where both editing and range copying/pasting may be enabled and tested together.

[2017-02-22 12:37] #86 closed

[2017-02-22 19:44] YakovL commented on #85
Yeah, you're right in the "everyone has a different idea about how navigation 'should' work" point. What I'm talking about is an excel-like navigation: arrows bring oneself to the next cell (left/right/up/down) but when one starts typing or press F2 (may be adjusted to another hot key), they get inside the editor (overwriting the value unless F2 was pressed). This behaviour is at least familiar to

[2017-02-23 04:41] 6pac commented on #85
There are some additions to the 6pac repo that make it a lot easier to achieve this.
Firstly, there is a new ```keyCaptureList``` property on an editor.
Set it like

    function MyEditor(args) {
        ...
        this.keyCaptureList = [Slick.keyCode.UP, Slick.keyCode.DOWN, Slick.keyCode.ENTER];

        this.init = function () {
            ...

and then those keys will be captured by the grid

[2017-02-23 17:11] lincolngup opened #87 "Add 508 accessibility enhancements suggested by mleibman#616"
Add 508 accessibility enhancements suggested by the GitHub commit documented here: [https://github.com/mleibman/SlickGrid/pull/616](https://github.com/mleibman/SlickGrid/pull/616).

This code adds role attributes that allow the JAWS screen reader (a common accessibility tool) to identify SlickGrid as a table and read the columns and data on the page. I’ve looked at the suggested changes, and altho

[2017-02-24 01:43] 6pac commented on #87
Thanks, for progressing this. It's a tricky one. Given that it looks like the adjustments may cause problems (there's the focus/scrolling issue, and even adding div's in might cause problems if people have written code for a particular SlickGrid container structure), either a plugin or an option-based implementation is safest until its mature. No problem with the philosophy of it 'just being built

[2017-03-04 13:05] kobalicek opened #89 "Cell background"
Thanks for this fork!

While using SlickGrid I faced an issue that I cannot programatically set a background value of a column/cell. The problem is that I need a raw style, not just css class name.

I workarounded the issue by doing this.

[code]

and then by using a custom formatter, that works like this:

[code]

While it works I don't like this solution and I don't trust it works everywhere.

W

[2017-03-15 18:02] victor-chang opened #90 "Grid.onCellChange called after other event"
Hi, Not sure if this is real issue or not, but I subscribe to onCellChange event. After I change a cell value, then immediately click a button to save the change. The onCellChange event is not called before the button click event happen so the change was not recorded. How do I make sure onCellChange event is called before button click event?

[2017-03-15 18:17] victor-chang commented on #90
Ok, I guess I can use a work around, in the button click event handler, I call graid.navigateRight() so the update is recoreded

[2017-03-16 00:59] 6pac commented on #90
you can also use ```grid.getEditorLock().commitCurrentEdit()```

[2017-03-16 18:13] granthughes opened #91 "dataView.onRowsChanged event doesn't always fire when the rows have changed"
When filtering rows, the `dataView`'s `onRowsChanged` event does not always get called when the rows have changed. This happens when filtering down the list such that the new rows are the first X rows from the current rows.

For example:
Your data consists of three records in this order: "Task 01", "Task 02", "Task 03"
When filtering on rows with a "0", the `onRowsChanged` event correctly does not

[2017-03-17 01:01] 6pac commented on #91
hate to say this, but that's what the ```onRowCountChanged``` event is for. several people have commented  that it would be better to have a single event to handle rather than ```onRowCountChanged``` _and_ ```onRowsChanged ```. i've thought about it, but the breaking change and testing all the scenarios is a bit daunting. it's likely that two two distinct events were provided because in some situa

[2017-03-17 13:15] granthughes commented on #91
Ah, I should have searched closed issues before posting this. This is a duplicate of #2. Sorry about that.

I think it is correct to have the 2 events. The thing that is missing here is documentation to clarify when the events will fire (unless I just can't find the existing documentation). It seems like I am not the only newcomer to this tool that saw the `onRowsChanged` event and assumed it woul

[2017-03-17 13:53] tobya commented on #91
Extra documentation is always good 😊

[2017-03-18 01:28] victor-chang commented on #90
Thanks

[2017-03-18 05:34] 6pac commented on #91
Look, my apologies for this. My thoughts are that I should update my Wiki quite broadly (it hasn't changed since MLeibman). It's been on the TODO list for some time. I've just been too busy.
Will try to get something up in the next month.
Anyone is welcome to document it and make a pull request to the Wiki ... :-)

[2017-03-28 15:17] simpysodhi1981 opened #93 "args.grid.resetActiveCell does not work on column change handler with latest slickgrid version"
args.grid.resetActiveCell does not work on column chnage handler with latest slickgrid version

[2017-03-29 15:15] simpysodhi1981 commented on #93
I tried your new master repo, but still this issue exists.

thanks

[2017-03-29 23:46] 6pac commented on #93
can you post the exact error text, with the line number.
also, if it's easy to reproduce it on an example, the mods to the example code.

[2017-03-30 16:48] at88mph commented on #80
Further to this.

I noticed that SlickGrid is published [on NPM here](https://www.npmjs.com/package/slickgrid).  When I use it like:

[code]
I also get:

[code]

If I change the top of `slickgrid/slick.grid-npm.js` to look like:

[code]

Then it seems to work well.

The `slickgrid/slick.dataview-npm.js` needed to have the `Slick` core imported too, so I added this to the top:

[code]

Are you main

[2017-03-31 00:08] 6pac commented on #80
thanks, yes I don't use react or npm, so I'm putting this together as a community service!
any pointers are welcome.
a pull request is ideal.
i've had my suspicions that the npm side of things was only partially complete.

[2017-04-02 21:22] at88mph commented on #80
Thanks, @6pac.

Are you open to upgrading `jquery-ui` to `1.12.1` if the tests pass?  The reason I ask is because the require statements have changed since `1.10.x`.

[2017-04-03 01:31] 6pac commented on #80
yes, as long as it doesn't break backwards compatibility in the non-npm context. At the moment we have a single build that supports jQuery 1.8+, 2.0+, 3.0+, and that makes me reluctant to split builds. But I'd probably be updating soon anyway. UI doesn't change very often, I'd missed that update.

[2017-04-07 05:04] at88mph commented on #80
So far so good.  Are the tests automated in some way?  How is everything in the `tests` directory run?

Thanks.

[2017-04-07 06:06] 6pac commented on #80
it's just opening the html docs in there.
nothing is really automated yet apart from updating the files in the npm-specific folder, which is done by a script in the ```scripts``` folder.

feel free to suggest something, but the repo is deliberately kept pretty basic: see the [manifesto](https://github.com/6pac/SlickGrid/wiki/4-The-SlickGrid-Manifesto)

[2017-04-12 09:18] alexcroox opened #94 "Bring mleibman wiki over"
If this is the official fork, is it possible to bring over the wiki content from the original repo as I keep having to switch between the 2 to find the right information.

[2017-04-12 09:34] alexcroox opened #95 "Top horizontal scroll bar"
Is there any option to have a top and bottom horizontal scroll bar. I have a user complaining the bottom scrollbar is outside of their viewport and they don't have a mouse with middle mouse button side scrolling so it's awkward to use.

E.g

![ss](https://i.stack.imgur.com/qvfiA.png)

If not I will attempt to fake one manually as seen here: http://stackoverflow.com/questions/18994360/jqgrid-horizo

[2017-04-12 11:03] 6pac commented on #95
I believe the SlickGrid scrollbars are all native browser scrollbars related to the grid HTML structure.
So that would be a no :-)

[2017-04-12 11:03] #95 closed

[2017-04-12 11:05] 6pac commented on #94
Yeah, that's no hard to do. I have been planning to rewrite and update the repo, but just really busy lately. I'll put it on the high priority list.

[2017-04-12 11:07] alexcroox commented on #94
Nice, thank you

[2017-04-14 17:25] at88mph commented on #80
I've been struggling with how to package up the `plugins` and `controls`.  I've managed to simplify the system with a [main.js](https://github.com/at88mph/SlickGrid/blob/master/main.js), so you don't need the `scripts` and `npm` folders with patches.

Do you have suggestions for the `plugins` and `controls`?  I think they ought to be done in such a way that one could write it as:

[code]

Thanks,

[2017-04-16 09:16] 6pac commented on #80
sounds good, I just have no idea how npm works. i'm happy to implement this when you work it out though, especially if I don't need the script folder any more.

[2017-04-18 05:37] 6pac commented on #94
Done. Now to document new features and update the reference pages.

[2017-04-18 05:37] #94 closed

[2017-04-18 08:06] 6pac commented on #91
Still cleaning up the wiki but it's a lot better now. I've brought all the MLeibman wiki pages over.

There are instructions about this issue on the main page of the wiki, probably not a place you'd look.
I've added the DataView Events page and put it there, and also added comments in the relevant section in Example-4-Model. I think that will help.

Slowly updating the docs.

[2017-04-18 08:06] #91 closed

[2017-04-18 08:07] #90 closed

[2017-04-18 08:07] #93 closed

[2017-04-19 01:51] 6pac commented on #89
Sorry, I've only just seen this.

I have just modified the formatter behaviour in SlickGrid so that instead of returning a string you can optionally return an object ```{ text: 'displayText', removeClasses: 'class1 class2', addClasses: 'class1' }``` and the classes will be removed and added to the cell when the formatter is applied. Removing a range of classes allows previous formatting classes to

[2017-04-19 01:51] #89 closed

[2017-04-20 21:44] SethBoyd opened #98 "applyFormatResultToCellNode incorrectly checks against 'String' when detecting a string"
It should instead check against 'string' as that's what typeof will return if it is a string

This change occurred in bef3203d722b96853a312929a74121eac15ebed5.

Sorry I'm not sure the best way to create a pull request on a fork or I would have made this change myself.

[2017-04-21 00:13] 6pac commented on #98
Good catch. thanks. I corrected it in one place but not the other. Fixed and pushed.

[2017-04-21 00:13] #98 closed

[2017-04-26 14:12] SuberFu opened #99 "Nested Column Header / Column Header Groups"
How viable is it to merge something like this in?
https://hariharanpalani.github.io/SlickGrid/examples/example-HeaderGrouping.html
In short, allow column header groups.

[2017-04-26 23:33] 6pac commented on #99
Good job with the example.

I'm a bit worried about changing the column array to a tree, though. A lot of the code depends on the columns being an array.

I think you would be much better off designing it as an unrelated 'title bar' with areas matched to the column spans.
I'll check, I've been in the process of adding something related to this for a while.

[2017-04-27 15:18] simpysodhi1981 commented on #93
Hi Sorry for late response. But this issue is not fixed and i noticed there is one more issue: if i trying to call on row selection from Grid A to enable row for Grid2. It actually null the current editor. Means Grid1 is no more editable. This was working with the old Slick grid. Current Editor issue i have with "makeActiveCellEditable" function as well.

With "makeActiveCellEditable", It throws C

[2017-04-28 08:11] 6pac commented on #93
can you post the exact error text, with the line number.
also, if it's easy to reproduce it on an example, the mods to the example code.

[2017-05-01 22:01] joaopapereira opened #101 "New Release"
Hello,
Do you have any idea when a new release will be created?

Thanks

[2017-05-02 00:16] 6pac commented on #101
Done. Sorry, it's been a while!

[2017-05-02 00:16] #101 closed

[2017-05-02 14:01] pivotalgeorge opened #102 "Rectangular selection doesn't grow as expected with cellselectionmodel"
In the example spreadsheet, when we try to grow a selection with Shift + arrow-keys:
- when we start with a rectangular selection, shift + an arrow-key does nothing
- when we start with a single cell selected, shift + an arrow-key works as expected
- when we start with a single cell selected, and then make a rectangular selection, shift + an arrow-key grows the original single-cell-based selection

[2017-05-03 16:46] RapidTransit commented on #76
I just came across this, I'm being tortured by other grids, I remember using this one in the past over DataTables. Because it just worked but it was abandoned and the stupid fork graph won't display :( . I'm gonna have to try it out now.

[2017-05-11 02:12] 6pac commented on #102
Thanks. Fixed in commit just now. Will leave for a little while before releasing.

[2017-05-11 02:12] #102 closed

[2017-05-21 10:59] imsurinder90 opened #107 "Missing minified slick js and css files"
I keep slickgrid files under vendor directory but I only see slick non-minified JS and CSS files.
As files are big in size takes much time to load.

Can you please add minified JS and CSS files ?

[2017-05-22 00:48] 6pac commented on #107
https://github.com/6pac/SlickGrid/issues/8, https://github.com/6pac/SlickGrid/issue

also see [the manifesto](https://github.com/6pac/SlickGrid/wiki/The-SlickGrid-Manifesto)

[2017-05-22 00:48] #107 closed

[2017-05-25 03:29] 6pac commented on #99
just added ```example-column-group``` to the repo. This is what you have done, but in a simpler way. There are various possibilities for what happens when row are re-ordered, for example row groups move together, or they repeat in different places (will the wording fit?). I have chosen not to support row reorder or resizing.

You may want to check out ```example-draggable-grouping.html``` for a sa

[2017-05-25 03:29] #99 closed

[2017-05-25 08:00] #85 closed

[2017-05-25 18:13] sjaveed commented on #37
I'd argue that for truly tabular data, which is what Slick.Grid is mainly used, tables are still the semantic and right thing and can be styled just as easily as divs and spans.  There might be other (legacy) reasons that divs were used in Slick.Grid though and those might still be relevant.

[2017-06-02 07:51] tatsujin1 opened #111 "Rename DataView's `getItem()` to `getRow()`"
It's a bit confusing that `getItem()` appears to operate on the same data set as `setItems()` `addItem()`, `updateItem()` and `deleteItem()`, which it actually does not. Especially confusing that there is a `getItems()` that *does* operate on the same data set.

In fact, `getItem()` retrieves a "row" which does not even exist until a `refresh()` has been processed (or actually `recalc()`). And if

[2017-06-02 08:52] tatsujin1 commented on #111
I guess `getItem()` could also be changed to actually operate on `items` (the same as all other *item methods), but I suppose that's an even bigger breaking change.

[2017-06-02 12:33] 6pac commented on #111
I hear you. On my private fork, one of the first things I did was clean up all these naming conventions, which are very confusing and quite inconsistent (a data row is called an 'item', a row index is called a 'row').

However then I rolled back all those changes because it was too hard to keep them in sync with the public fork.
I'd like to issue a v3 someday with all this stuff cleaned up, For no

[2017-06-02 12:41] tatsujin1 commented on #111
I see :)
That sounds like a plan!

[2017-06-02 13:11] tatsujin1 opened #112 "Selection does not move when data moves"
This is using the `RowSelectionModel`.
If some rows are selected (how many is irrelevant) and the table rows change (e.g. re-sorted, added or removed), the select stays "fixed" on the same table rows; it does not keep the same item selected.

Also, there is no `RowSelectionModel.onSelectedRangesChanged` or `SlickGrid.onSelectedRowsChanged` events emitted, which I guess is the culprit.

[2017-06-03 02:09] 6pac commented on #111
While deprecation is an option, it's still disruptive in the end. What I tend to prefer is to release a new breaking version and then have an additional package to make it backwards compatible by overriding new features or mapping the old names to the new, like how ```jQuery-migrate``` worked in the old days. That said, it's hard to gauge how popular Slickgrid is, and therefore what impact breakin

[2017-06-03 08:28] tatsujin1 commented on #112
Ooops! Sorry.

[2017-06-05 02:21] 6pac commented on #111
I also want to significantly improve the documentation before any new major release. Let's check back here in 6 months.

[2017-06-05 02:22] 6pac commented on #28
How's this: http://6pac.github.io/SlickGrid/examples/example-footer-totals.html

[2017-06-05 02:22] #28 closed

[2017-06-05 10:16] tatsujin1 commented on #111
:+1:

[2017-06-06 12:02] srthakkar opened #113 "checkboxSelectionFormatter function value is undefined"
The checkbox selection plugin checkbox formatter value is undefined.
[code]

[2017-06-06 12:49] 6pac commented on #113
Is this a suggestion for the standard formatter? I can imagine that a developer might want to interpret an undefined value in several different ways. Perhaps best left to individual choice.

[2017-06-06 15:43] kieranmorrison opened #114 "Cannot make selection outside of viewport"
Dragging to make a selection does not auto scroll the viewport.

Repro'd in http://6pac.github.io/SlickGrid/examples/example3-editing.html

[2017-06-07 00:29] GuoHuiChen opened #115 "How to create header with two or more rows"
I want to create the slickgrid with three rows in the header, how can I implement it?
Thank you!

[2017-06-07 05:05] srthakkar commented on #113
Actually, I need if the checkbox is checked or not in this Formatter.
Can you please guide us if it is possible to get checked is true or false in that value or in any other parameter?

[2017-06-07 07:38] 6pac commented on #113
you should be asking on StackOverflow. here is for bug reports.
but

        function checkboxSelectionFormatter(row, cell, value, columnDef, dataContext) {
            if (dataContext) {
                return grid.getSelectedRows().indexOf(row) > -1
                    ? "<input type='checkbox' checked='checked'>"
                    : "<input type='checkbox'>";
            }
            return

[2017-06-07 07:38] #113 closed

[2017-06-08 03:45] SatanEnglish opened #116 "MultiSect: false option should disable SHIFT + Arrow keys"
The MultiSelect: false works well for the clicking version now however not working if you SHIFT up and down.

This is not the most elegant fix but

replace the rowselectionmodel line 123

    if (active >= 0 && active < _grid.getDataLength()) {
     _grid.scrollRowIntoView(active);
     var tempRanges = rowsToRanges(getRowsRange(top, bottom));
     setSelectedRanges(tempRanges);
    }

With the fo

[2017-06-12 20:56] joaopapereira opened #119 "Create new Release and Update NPM package"
Hello,
Can you create a new release and update the NPM package?

Thanks

[2017-06-13 01:22] 6pac commented on #80
@at88mph, any progress here? I really need an NPM guru to come along and set this all in order.

[2017-06-13 02:20] #119 closed

[2017-06-13 19:00] slozier opened #120 "Bootstrap 3 header example does not work properly with Firefox"
The headers of the bootstrap 3 header example are not sizing properly with Firefox 53 (works fine with Chrome/Edge). When I load the page the example the headers are too wide. As soon as I resize a column, the headers get sized properly. If I reorder the columns, then the headers become once again too wide.

I found that by changing `width` to `outerWidth` on [line 713](https://github.com/6pac/Sli

[2017-06-15 00:14] 6pac commented on #120
I can reproduce this (in FF 52). My best guess is it's a bug between jQuery 1.11.2 and FF 50ish, though I can't find one by googling. Hmmm ...

[2017-06-15 12:34] slozier commented on #120
Also occurs with jQuery 3.1.1 which is the version I'm using. So probably with all the versions since 1.11.2?

[2017-06-15 19:24] at88mph commented on #80
Hi Ben,

I could issue a pull request, but I don’t know if it’s worth rewriting the tests to use the web pack version of the NPM modules.  The core logic is not modified, but it’s just packaged for NPM using the index.js file.  Let me make sure your master is merged in properly, then I will issue a pull request for review.

Dustin

Dustin N. Jenkins
Tel/Tél: 250.217.4970 | facsimile/télécopieur: 2

[2017-06-16 04:54] 6pac commented on #120
OK. At first I thought it was getting ```headerColumnWidthDiff``` wrong, but that's the same on both. I wonder if its the interpretation of ```important``` flags. I seem to recall that was one fix for some of the Bootstrap stuff.

[2017-06-20 09:27] evil-shrike opened #122 "Undocumented breaking change: showCellSelection option - why is it needed?"
In `setActiveCellInternal` method there was a breaking change introduced - added `showCellSelection` check for setting a row a active. After I updated from 2.1 selecting rows breaks.
Before:
[code]
After:
[code]
It's the only place where `showCellSelection` is used. No any mention in wiki/issues.
Could you tell why did you introduce this change?
Also it's very pity that there was no any note/issue

[2017-06-20 12:00] 6pac commented on #122
Apologies about that. That change was clearly intended to have a default option value set to true so that it was not breaking. I have just added a commit to add that option default.

I have my own private branch which proceeds in parallel with the public one. Every so often I sync the changes between the two. The option value must have gotten overlooked.
I try to keep things pretty tight, but it's

[2017-06-20 12:00] #122 closed

[2017-06-20 12:12] evil-shrike opened #123 "appendCellHtml ignores numeric value"
There was a feature added in `appendCellHtml` - supporting complex formatters results (`formatterResult`). When it returns an object instead of string. Nice but it breaks existing code when formatter returns simple non-string value, i.e. number or Date. In this case the value is just ignored.

Current code:
[code]
if `formatterResult` is a Number then nothing happens.

[2017-06-20 12:28] 6pac commented on #123
I did have a debate with myself over whether to check for a string or not-an-object. Clearly I lost the debate. I've pushed a commit so that any non-object is now treated the same as a string formatter return.

Anything else?

[2017-06-20 12:44] evil-shrike commented on #123
It's not quite correct as `typeof null` is `"object"`.
I'd suggest to use `Object.prototype.toString.call` instead of `typeof` :
instead of:
[code]
this:
[code]

P.S. Please consider referencing issues in your commits as it'll make understanding commit history much easier.
(Just add a comment `#123` in a commit)

[2017-06-20 13:10] 6pac commented on #123
Not real keen on that construct, and I note it's not used anywhere else in the code base.
How about:

       if (!formatterResult || typeof formatterResult !== 'object') {
            cellNode.innerHTML = formatterResult;
            return;
        }

If you're OK with that I'll add the commit.

[2017-06-20 13:46] evil-shrike commented on #123
Ok, in this case it will work.
But in general `Object.prototype.toString` is pretty common approach (`v === Object(v)` is another), see https://javascriptweblog.wordpress.com/2011/08/08/fixing-the-javascript-typeof-operator/ for details.

Also I noticed there're other checks with `typeof` for `selectable` and `focusable`. It's better to check for `!== undefined`, any value means it's specified, th

[2017-06-21 00:25] 6pac commented on #123
OK, you've convinced me. It's in the spec, and my suggestion doesn't cover a Date.
Also tweaked the other typeofs, that makes sense.

This has been committed and referenced to this issue.
Happy to take pull requests!

[2017-06-21 00:25] #123 closed

[2017-06-24 10:52] 6pac commented on #115
Like this? http://6pac.github.io/SlickGrid/examples/example-column-group.html

[2017-07-02 04:52] dad-exuan opened #125 "SlickGrid does not show all the columns when switching Bootstrap tabs"
- there are two Bootstrap tabs and each tab has a SlickGrid, which are initialized together after the page is loaded
- the first visible grid shows properly, the second grid shows only one column when switching tab
- after tracing the source code, the cause is that viewportW is zero in grid.setColumns()
- our call flow are as follows:

1. call grid.init() explicitly and in finishInitialization():

[2017-07-02 09:43] danmo opened #126 "Column resize on cell drag"
Hi, currently a column width can be resized by dragging the column edge.

I need to do the same by dragging the cell, any idea on how I can achieve this ?

![image](https://user-images.githubusercontent.com/3957234/27768772-0f0493b0-5f24-11e7-823a-4f7fe14c7167.png)

[2017-07-03 06:38] 6pac commented on #126
The code to create the column drag resizing in there in the initialise event. You'd need to apply it to all rendered rows. Given that the grid is constantly destroying and recreating rows during scrolling, it's going to be slow and you might have to keep track of and remove the hooks before removing rows to avoid a memory leak.

You might be best off using:
http://6pac.github.io/SlickGrid/examples

[2017-07-03 06:38] #126 closed

[2017-07-05 18:08] clemorphy opened #127 "Toggle columns"
Hello

Is there a way to toggle columns visibility ?
Like having a list of all possible columns, with a checkbox for each, that would allow to hide / show ?
I quickly searched in the Columns part of the API reference, but didn't find any option that could toggle column visibility.

Thanx

[2017-07-08 12:46] maxim-s-barabash opened #128 "rowdetails or nested grids"
Hi team,
I need to Grid can show additional information below each grid row.
What can you advise? thank.

RowDetails.
![rowdeteil](https://user-images.githubusercontent.com/2724325/27985475-20dd5aac-63f4-11e7-9900-7fd1912ff12f.png)
or Nested Grids
![nested](https://user-images.githubusercontent.com/2724325/27985476-24ee70ea-63f4-11e7-9f94-8043e9c6ebde.png)

like http://www.jqwidgets.com/jquery-wid

[2017-07-10 08:03] fvelcker opened #129 "[Question] to VueJS"
Hello,

It is just a simple question and sorry if it is not the right place to ask. But as this Slickgrid fork and community seems to be the largest, I try my chance.

As some of you know well the source code of Slickgrid, I was wondering if you have any idea how complicated will be to build a Slickgrid VueJS component, so without jQuery at all, and if you think it is worth it.
Because let's face

[2017-07-10 15:44] maxim-s-barabash commented on #127
If you want to hide a column, just remove it from the columns array you call grid.setColumns() again.

[2017-07-11 21:03] maxim-s-barabash commented on #127
See context menu on grid header
http://6pac.github.io/SlickGrid/examples/example-grouping-checkbox-row-select.html

[2017-07-13 07:05] 6pac commented on #128
Not easily. Slickgrid rows are all fixed height. This is not changeable.
I do have a SlickCombo control that drops down a cell into a separate grid. But that's my own private control, and it wasn't that easy to create, and I'm not sure it's fully debugged yet.

[2017-07-13 07:08] #52 closed

[2017-07-13 07:24] 6pac commented on #129
Hi Florian,

I'm not familiar with VueJS. But several people have mentioned trying to rewrite Slickgrid to remove various dependencies.
The first one is the dependency on the custom event.drag and event.drop libraries.
Then the dependency on jQueryUI for sortables (jQueryUI in particular has some conflicts with Bootstrap, which is another challenge, which is why there is an example page for that .

[2017-07-13 08:01] fvelcker commented on #129
Hello,

Thanks for taking the time to reply.
I can imagine it will a long process to rewrite. I am not really familiar with vueJS neither, we are going use it at work... I have to motivate myself to start the adventure !

(And, by the way, thanks for maintaining Slickgrid and its community !)

[2017-07-13 08:09] 6pac commented on #125
Thanks for the report. I've not been aware of any problems with restoreCssFromHiddenInit(). Could you put together an example that runs in the Slickgrid example folder and attach it to a post in this thread?
Have you checked out the examples that show grid in tabs?

[2017-07-13 08:53] #127 closed

[2017-07-13 10:02] harit2101 opened #130 "Tree Group with check box selections"
Hi,

My requirement is like a tree with expand, collapse and checkbox functionality.
Done with display of tree with expand and collapse functionality .
Need help in implementation of checkbox functionality so that it covers below scenarios

parent node selected then all child nodes must be selected.
2)parent node unchecked then all child nodes must be unchecked.
if parent has 3 child node, out of

[2017-07-13 10:34] 6pac commented on #130
This example might get you started:
http://6pac.github.io/SlickGrid/examples/example-grouping-checkbox-row-select.html

I considered the intermediate checkbox state when putting the example together, but it adds a huge amount of extra work. The example as it is just sets or clears the group.

[2017-07-13 10:39] tesdevuk opened #131 "CellExternalCopyManager don't seem to work with SlickGrid's DataView"
I've hit the same snag as mentioned on a SlickGrid Google group.

https://groups.google.com/forum/#!topic/slickgrid/eN68pH_DSlw

Rick Jones claims to have reworked CellExternalCopyManager but no details or code provided.

Has this already been addressed?

Any examples?

[2017-07-14 00:13] 6pac commented on #131
I've been able to tweak the CellExternalCopyManager to write to the dataview (it's a one liner), but that brings up the question of whether doing that is a good idea.
At the moment, each column either has an editor, or there is an overall getter/setter for the whole grid. The issue is that to copy and paste a block from anywhere to anywhere, the data copied/pasted must be in text format. If data i

[2017-07-16 19:14] maxim-s-barabash commented on #128
Now I'm working on changing this, without losing compatibility. I plan to use getItemMetadata for this.
I hope for this will need a minimum of changes.

[2017-07-16 23:18] 6pac commented on #128
The height calcs are buit into the grid. Imagine if there are a million rows. To work out the grid rendering, the grid has to work out what row we are at, the size of the next x rows and add them.

Ag-grid, probably the best alternative to Slickgrid, has the option for non-fixed-height rows, but only if you switch off the virtual scrolling feature. Slickgrid's virtual scrolling is built in at a lo

[2017-07-17 22:41] maxim-s-barabash commented on #125
You can draw after Grid visibility. Method does not pretend to be correct :)

[code]

And do not forget about the destroy.

[code]

[2017-07-28 01:42] lostinroom opened #133 "Example http://6pac.github.io/SlickGrid/examples/example6-ajax-loading.html not working"
Hi,

When I scroll the grid, it throws me error instead of showing data.
Can it be fixed?

Thanks

Uncaught TypeError: Cannot read property 'octopart_url' of undefined
    at mpnFormatter (example6-ajax-loading.html:80)
    at appendCellHtml (slick.grid.js:1706)
    at appendRowHtml (slick.grid.js:1673)
    at renderRows (slick.grid.js:2224)
    at render (slick.grid.js:2293)
    at HTMLDivElement

[2017-07-31 03:12] 6pac commented on #133
Apologies for the slow reply, I'm very busy at the moment.

I had a look but can't tell without further investigation whether this is a problem with the server feed, or the client (although in any case the client should deal more gracefully with the error). The original MLeibman AJAX loading sample used a website that was decommissioned and stopped working, so this example page was altered to use

[2017-08-10 22:13] ssnyder opened #134 "Rails integration"
A couple of years ago we used the slick-grid-rails gem to use what was at that time the current SlickGrid code in our Ruby on Rails application.  I am in the process of updating our program, and all of the various gems, and was hoping to look into upgrading SlickGrid.  I see in the slick-grid-rails gem where to change the URL for the update task, so that's not an issue (That gem looks like it's no

[2017-08-11 00:06] 6pac commented on #134
Hi @ssnyder,
I'm the maintainer, but afraid I don't have any experience with Ruby on Rails.

What I generally do in these situations is try to work out the fork point from the main Slickgrid code, and diff the files to see the changes that were made. If not too extensive, these can usually be reapplied to the most recent Slickgrid code without much pain.
It's even possible to wrap the changes in a

[2017-08-11 02:17] kofifus opened #135 "Customize top right square"
Is there a way or can there be away to customize the empty rectangle to the right of the rightmost column ?

I want to put a button there.

Thx!

[2017-08-11 16:06] ssnyder commented on #134
Thanks!  I'll have to figure out just how old my code is and go from there :)

[2017-08-12 01:00] clemorphy commented on #127
@maxim-s-barabash  slick.columnpicker.js is exactly what I was looking for.
Thanx

[2017-08-15 11:04] johanrd opened #136 "Horizontal scrolling of header does not work"
Ref https://github.com/mleibman/SlickGrid/issues/987

Steps to reproduce:
1. Go here: http://6pac.github.io/SlickGrid/examples/example12-fillbrowser.html
2. Hold your cursor over the header and scroll horizontally – nothing happens
3. Hold your cursor over the content and scroll horizontally – both header and content scrolls

Expected: case 2 to behave like case 3

[2017-08-16 13:49] beckr opened #138 "Drag of column doesn't work with custom formatter"
Hello,
I have an issue with column drag and drop when defining custom formatter.
I use the same custom formatter for every column.
My formatter returns something like :
`<div class="slick-cell l11 r11"><div cellvalue="my_value" title="my_value" class="renderer-true-default textsize-normal" style=" background-color: #37bc3c;  color: #ffffff;  font-weight:normal; font-style:normal; text-decoration:n

[2017-08-16 14:08] beckr commented on #138
4 days that I search for this problem and when I post the issue on github I find the solution..
My renderer was based on an outdated list of columns, so the cell index parameter was not getting the right column and thus not rendering the right value. Sorry for the inconvenience..

[2017-08-16 14:08] #138 closed

[2017-08-17 14:19] igayevoy opened #139 "editCommand of the editCommandHandler uses wrong row and cell"
"execute" and "undo" methods uses global variables "activeRow" and "activeCell" which are may be changed on the moment of calling (and actually they were changed in my case).
It's better to create the local variables and use them instead.

[2017-08-17 16:11] OliverKK opened #140 "Example http://6pac.github.io/SlickGrid/examples/example5-collapsing.html breaks on scrolling"
Hello,
i was investigating some time into this issue to figure out what iam doing wrong.
So i decided to check the example and it breaks also.
If you are scrolling down, to the very last element and scroll up again the browser console is filled with errors like following:

`slick.grid.js:1801 Uncaught TypeError: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'.
    at r

[2017-08-18 06:27] kofifus opened #141 "Buggy column resize behaviour"
Resizing columns often causes a sort.

As far as I can tell this is an obvious bug and I hope the maintainer or someone else can post a patch to fix this.

In my tests, when resizing columns and then leaving the mouse you usually get onColumnsResized followed by onHeaderClick but quite often you usually get onSort between them.

Both onSort and onHeaderClick should not fire at all when resizing co

[2017-08-18 08:01] kofifus commented on #141
I pushed https://github.com/6pac/SlickGrid/pull/142 which solves this thx

[2017-08-18 13:20] 6pac commented on #140
Thanks for the heads up. It's a pretty straightforward problem with the formatter in the case where the value passed is undefined. This happens when scrolling to the end and then restricting the values so that the displayed value no longer exists in the dataset.

I've fixed this and will push a new release shortly with a few other bug fixes as well.

[2017-08-18 13:20] #140 closed

[2017-08-18 14:17] 6pac commented on #139
Good idea. Just released a new version that should fix this issue.

[2017-08-18 14:17] #139 closed

[2017-08-20 23:08] #141 closed

[2017-08-22 18:04] Origineil81 opened #143 "slickgrid vertical scrolling while column reorder"
I am using SlickGrid in my project and when i try to reorder columns , web page scrolls vertically and column headers become invisible .How to prevent vertical scrolling during column reordering ?

[2017-09-01 15:55] codeme opened #144 "Combining cellselectionmodel and rowselectionmodel"
Is there a way to combine these 2 selection models, so that I can achieve what these 2 models do. The requirement i am looking for is, user should be able to select row or multiple rows using a custom checkbox column (using shortcuts ctrl+click and shift+ click) and also able to select multiple cells (using ctrl+click and shift+click). If these 2 models cannot be combined. Is there any other alter

[2017-09-02 12:21] 6pac commented on #144
For these type of custom things, you need to create a new selectionmodel and combine the code from the two. It shouldn't be too hard. I don't think it's a common enough thing to want to do, to make it standard.

[2017-09-02 12:21] #144 closed

[2017-09-02 17:51] smitlad opened #145 "How to put Button Inside the slickgrid In new raw."
hi, There
I want to ask you that how to put button inside the slick grid in new raw.
give me some example so i get some idea.  i want to create slick grid like first raw with data and new raw with button.

[2017-09-04 05:28] 6pac commented on #145
The easiest way is to use a formatter to create a link styled like a button.
Here's one of mine:

    function EditButtonFormatter(rowIndex, cell, value, columnDef, grid, dataProvider) {
      if (value == null || value === "" || !columnDef.hyperlink) { return "-"; }
      return '<div class="' + Slick.preClickClassName + '" onclick="' + columnDef.hyperlink + '(' + value + ')">edit</div>';
    }

[2017-09-04 17:53] smitlad commented on #145
Thank you, so much for your help.

On Mon, Sep 4, 2017 at 10:58 AM, Ben McIntyre <notifications@github.com>
wrote:

[2017-09-06 02:31] codeme opened #146 "checkboxselectcolumn : invalidateRow results in slickgrid lost focus"
Using a checkboxselectcolumn plugin results in loosing focus on slickgrid. Caused by invalidateRow() statement. Is there a way to retain the focus on the grid?

[2017-09-06 05:58] 6pac commented on #146
Probably best to post this kind of thing to StackOverflow.
In 6pac.github.io/SlickGrid/examples/example-checkbox-row-select.html if I use the keyboard to navigate up and down and space to select/deselect, it works fine. However the grid doesn't have keyboard focus to start with, I have to click on a cell.

[2017-09-06 07:05] #145 closed

[2017-09-06 11:34] codeme commented on #146
We are seeing this issue on click of a cell

[2017-09-06 12:51] 6pac commented on #146
Have you tried putting ```grid.setActiveCell()``` and ```grid.focus()``` after handling the click event?

[2017-09-06 13:21] codeme commented on #146
yes, I did. grid.focus() is not helping. tabbingDirection is "1" and it ends up in else part of setFocus() function.

[2017-09-07 00:28] 6pac commented on #146
Pushed a fix. Esentially the last two lines of

    function toggleRowSelection(row) {
      if (_selectedRowsLookup[row]) {
        _grid.setSelectedRows($.grep(_grid.getSelectedRows(), function (n) {
          return n != row
        }));
      } else {
        _grid.setSelectedRows(_grid.getSelectedRows().concat(row));
      }
      _grid.setActiveCell(row, getCheckboxColumnCellIndex());

[2017-09-07 00:28] #146 closed

[2017-09-07 02:14] ghiscoding opened #147 "Example column group (header row grouping) is not working correctly when resizing"
Trying the various samples and noticed that the [Example Column Group](http://6pac.github.io/SlickGrid/examples/example-column-group.html) is not behaving properly after resizing. After resizing a column from the second row (for example making Title wider), the first row (that is the columnGroup) completely disappears. I found the problem with some width changing, see below for the full explanatio

[2017-09-07 02:16] ghiscoding commented on #147
Also the "View Source" from the same example is linked to the incorrect sample. If should be linked to [this](https://github.com/6pac/SlickGrid/blob/master/examples/example-column-group.html)

[2017-09-07 13:34] 6pac commented on #147
Just pushed a fix. Thanks for bringing this to my attention!

[2017-09-07 13:34] #147 closed

[2017-09-07 13:38] ghiscoding commented on #147
Awesome, thanks for the super fast fix :)

[2017-09-07 17:06] codeme opened #148 "Single click vs double click in header row"
Is there a way to identify a single click from double click event on header row? Does the plugin support it?

[2017-09-08 15:35] ghiscoding opened #150 "Copy Text from cell content is broken in non-IE browsers"
Hello, I'm coming back to SlickGrid (had to move away for UI-Grid with AngularJS in the past 2 years) and I remember that the copy text content wasn't working in Chrome/Firefox in the past and I had to patch it in the slickgrid library. I had to do an extensive search to find back the solution and here it is, it's a [StackOverflow question](https://stackoverflow.com/questions/18397036/slickgrid-ce

[2017-09-08 15:42] ghiscoding commented on #150
Actually that doesn't seem to work, this patch was only to remove the selection. I just found out that to make it work in Chrome, I have to right+click on the text and choose copy. If I do Ctrl+C that doesn't work, kinda strange that it doesn't work though in IE it's all fine.

[2017-09-09 01:59] 6pac commented on #150
I'm too busy to look at this for a few days, but have you seen the new example http://6pac.github.io/SlickGrid/examples/example-excel-compatible-spreadsheet.html ?
It has ctrl-C and ctrl-V cut and paste.

There are quite a lot of new examples now compared to the MLeibman repo.
http://6pac.github.io/SlickGrid/examples/

[2017-09-09 02:11] ghiscoding commented on #150
Yeah I did see that one, I guess that I will implement that instead, it's probably a better solution. Thanks for the quick response. I'll close the issue and look at implementing your other suggestion. You're doing a great job with this project :)

[2017-09-10 19:26] BilalHalayqa opened #151 "Close Select2 dropdown on selecting an option."
Referring to this dropdown demo :
http://6pac.github.io/SlickGrid/examples/example-select2-editor.html

How can I close the dropdown on selecting an option instead of selecting outside to apply the selection ?

[2017-09-10 20:07] BilalHalayqa opened #152 "Clearing cell sets the value to 0 incase of editor: Slick.Editors.Float instead of clearing it"
Using :
editor: Slick.Editors.Float

For a column, when clearing the cell, the value 0 is being used and cannot clear the cell.

[2017-09-10 20:09] BilalHalayqa commented on #152
I had to edit **slick.editors.js** and added the following :
`if(state == 0){
   state = '';
} `

in the applyValue method inside the FloatEditor function.

[2017-09-11 13:11] 6pac commented on #151
For me, on Chrome, it closes after clicking on a line in the combo box.
If selecting using the keyboard, <enter> closes the box.

Is this different for you? Browser & OS?

[2017-09-11 13:31] 6pac commented on #148
Looks like double clicking is a bit tricky anyway:

   https://github.com/mleibman/SlickGrid/issues/994

   https://stackoverflow.com/questions/11573901/slickgrid-dblclick-click

This is the code from ```slick.grid.js``` where the event is handled. You'd just have to add similar handing to the header element.

    $canvas
        .on("keydown", handleKeyDown)
        .on("click", handleClick)

[2017-09-12 00:59] apanlee opened #153 "How to implement auto word wrap in one cell?"

[2017-09-12 01:20] 6pac commented on #153
You'd be better off asking this on StackOverflow. One problem is that the row height is fixed in Slickgrid. This is fundamental to the grid. It will not change.

[2017-09-12 01:20] #153 closed

[2017-09-14 01:13] ghiscoding opened #154 "(feature) grid auto-resize on window resize"
Hello, I would like to contribute with a feature that I used for quite a while (auto-resize the grid while the window changes size). It basically takes the available space left from the viewport (it does not take the entire screen, but really only the space it has available, for example if you have a container of 80% width, it will only resize in that area). For this to work, we need to wrap the g

[2017-09-17 05:37] ghiscoding commented on #128
I'm also looking into this functionality and I was happy to fall on this [Stack Overflow - Can SlickGrid's row height be dynamically altered?](https://stackoverflow.com/questions/10535164/can-slickgrids-row-height-be-dynamically-altered#29399927) question. That person who answered on the question also posted a [JsFiddle](http://jsfiddle.net/violet313/98wx61uz/) example and she also has a lengthy [

[2017-09-17 23:28] 6pac commented on #154
a PR on this one would be great. it's a feature that's been needed for a while, but I haven't had the time to look into it.

[2017-09-18 00:54] #148 closed

[2017-09-18 02:58] 6pac commented on #152
just released a commit to support this mode.
https://github.com/6pac/SlickGrid/commit/50f9a5a682587dd20f9f1daf9d805dfaf1326f48

[2017-09-18 02:58] #152 closed

[2017-09-18 04:04] ghiscoding commented on #154
I did the PR, which you merged few hours ago... #155

Since you merged it, I can now close this issue. Thanks for merging :)

[2017-09-18 04:17] ghiscoding commented on #154
Actually I just realized that I had 2 PRs and I made a mistake on the second PR. I deleted the code from the first PR thinking that it was the correct way but I just realized that by doing this, I totally deleted the sample :(

Sorry about the mistake, I'm still learning on the Git side...
Do you want me to create another PR to put it back?

Also, I find that strange that the example of `example-p

[2017-09-18 05:21] 6pac commented on #154
sorry, that's my fault. I need to regenerate the examples when there's a
change. in a hurry.

  _____

From: Ghislain B. [mailto:notifications@github.com]
Sent: Monday, 18 September 2017 1:48 PM
To: 6pac/SlickGrid
Cc: Ben McIntyre; Comment
Subject: Re: [6pac/SlickGrid] (feature) grid auto-resize on window resize
(#154)

Actually I just realized that I had 2 PRs and I made a mistake on the second
P

[2017-09-18 05:48] ghiscoding commented on #154
Thanks

As for the mistake I made on removing the auto-resize functionality, I created another PR #157.
Hopefully this is good this time, sorry about the confusion.

[2017-09-18 15:09] ghiscoding commented on #154
I left a note in the PR, the last PR I made for auto-resize, does not show up in the Examples list.

[2017-09-18 15:17] ghiscoding commented on #154
Never mind, I just realized that I had to simply update the Wiki and now it all works :)
I can close it now, thanks for all.

[2017-09-18 15:17] #154 closed

[2017-09-18 15:38] ghiscoding commented on #31
@MisterAcoustic I added a new example for [Grid auto-resize on window browser change](http://6pac.github.io/SlickGrid/examples/example15-auto-resize.html), you should take a look at it and it might close your issue.

[2017-09-20 07:00] igayevoy opened #158 "Validate on edit cancellation or prevent edit cancelation on grid resize"
Some times changing the value of cell needs validation of another cell. And when its value is incorrect than cancellation must be prevented by validation.
I've try to stop propagation of a 'Escape' key event and thats helped. But edit is cancelled when grid resized.

[2017-09-20 08:35] 6pac commented on #158
This gets complicated. I think it's better to use a formatter to indicate an error condition, and validate all the information before saving the row or whole grid.

[2017-09-25 03:36] ghiscoding commented on #135
It's doable with jQuery, I'm working on a Grid Menu (which I will create a PR for in a week or 2) that will take that position. Let say your button is 14px wide.

The javascript looks like this:
[code]
and a little bit of CSS
[code]

The end result is a button that stick to the top right, it never moves (because it is at position `right:2px` and this is only possible because i resized the `.slick-

[2017-09-25 03:49] ghiscoding commented on #127
FYI guys, I reworked the column picker to make it more user friendly which I made a PR #159 just a few days ago (you can read the details inside the PR #159).

I'm also currently working on a Grid Menu (top right corner Grid Menu, which also works better on a touch device I would assume). I hope to make this piece customizable to give flexibility to the user to add custom sub-menus as well (I'm wo

[2017-09-25 06:51] kofifus commented on #135
great ! thx, waiting for the PR ..

[2017-09-25 11:49] piyushgupta1 commented on #41
@DimitarChristoff Great work. I am already using the your fork in one of my projects. At which version did you fork this repo ?

[2017-09-26 00:46] ghiscoding commented on #135
I made PR #160 to add a Grid Menu functionality (aka hamburger menu) which was mentioned earlier. The neat thing is that you can also provide an array of your custom command :)

Until this is merge, you can download and provide feedback there. Thanks

[2017-09-26 00:54] ghiscoding commented on #127
Made PR #160 to add the Grid Menu functionality that I described in earlier post. It also includes an easy way to add custom command in it (for example add a "Clear Filters"). You can see a full description of it on the PR #160

[2017-09-26 01:06] ghiscoding commented on #135
Side note, if my PR for the Grid Menu is what you were looking for, I suggest to close your issue ;)

[2017-09-27 02:26] xiaoyuTR opened #161 "CheckboxSelectColumn not works if enableAddRow is set to true"
I found that if I set enableAddRow to true in the Slick Grid options, the CheckboxSelectColumn will not work. I checked the source code of checkboxSelectionFormatter and found that there is a condition before return the checkbox element, if the "dataContext" is null,  the checkboxSelectionFormatter will be set to null. When initialize the Grid, and error will pop up like this,
"ERROR TypeError: Ca

[2017-09-27 03:35] 6pac commented on #161
could you pull or download the very latest code from the repo (not the latest release).
i think this was recently fixed, but I may not have got around to a formal release yet.

[2017-09-27 08:06] xiaoyuTR commented on #161
I just download the latest code from master,  I find there are some enhances on "slick.checkboxSelectColumn.js", but I still got the above error.

[2017-09-28 11:33] #158 closed

[2017-09-28 22:23] simon1tan opened #162 "Horizonal scroll appears too easily"
I duplicated SLickGrid example 2 on my page and am finding that the horizontal scroll is appearing rather quickly even though I have plenty of width in my container. It looks like an extra column exists as the last column. Is there an option to remove that or autowidth? You can see an example of this issue on Example11(http://6pac.github.io/SlickGrid/examples/example11-autoheight.html). Example11

[2017-09-29 04:18] ghiscoding commented on #162
I tried and do see that behavior in almost all browsers (Firefox, IE & even Edge), only Chrome doesn't have the issue, which is awkward. It seems to be a problem with the `autoHeight` implementation since it goes away after fixing the height in CSS and disabling the `autoHeight`.

Side note, I never personally used the `autoHeight` as I prefer to have a scrolling in the grid itself rather than the

[2017-09-29 20:46] simon1tan commented on #162
Thanks @ghiscoding. I did stumble across the auto-resize example but felt awkward adding custom code. I was thinking there would be an option but I will use this. Perhaps this can be implement as an option in the future.

[2017-09-29 20:46] #162 closed

[2017-09-29 21:34] ghiscoding commented on #162
You mean a separate Slick Plugin? That could be an idea, though I already have 2 other PR waiting in the queue (Grid Menu is my biggest one), I will wait until those are merged before working on something else. Thanks for the suggestion

BTW, I'm working on an Angular library and the auto-resize is different than the actual code that I posted in the example just because we don't use jquery directl

[2017-09-30 04:12] 6pac commented on #162
Apologies for this @ghiscoding, I'm the bottleneck. Just need to do routine checking, I'm just really busy at the moment. May have time next weekend.

[2017-09-30 14:22] ghiscoding commented on #162
@6pac no worries, it gave me time to refine the Plugin and fixed couple of minor issues that I found while having it in production. It's now stable and you can merge whenever you want, there's no rush as I'm using the new Plugin files I created in the PR, I'll just change my source when you will have them merged. Thanks

[2017-09-30 14:25] ghiscoding commented on #136
Since there was a PR merged, the issue can probably be closed?

[2017-09-30 14:36] ghiscoding commented on #135
For reference purpose, the code that I mentioned earlier will break the grid auto-resize functionality as I found out while testing my new Grid Menu feature. A better way of dealing with the resize of the Header Row is to let CSS do the calculation against 100% and this calc will always recalculate which mean that if the grid size changes, the CSS calc will calculate again.
[code]
You could also a

[2017-09-30 23:55] kofifus commented on #135
Note that the scrollbar size is not always 18px as the scrollbar can be
changed to be narrower etc

see (merged) https://github.com/6pac/SlickGrid/pull/149

scrollbar width should be retrieved using scrollbarDimensions.width

On Sun, Oct 1, 2017 at 12:36 AM, Ghislain B. <notifications@github.com>
wrote:

[2017-10-01 04:08] ghiscoding commented on #135
The width of 18px is just for demo purposes, I left it open as an option for the Grid Menu that I created. You can change it with the value you want.

[2017-10-01 04:32] kofifus commented on #135
ah ok, but how can the PR be merged it breaks auto resizing ? can you explain what is the issue ?

[2017-10-01 04:52] ghiscoding commented on #135
It doesn't break auto-resizing, or at least not anymore. The first portion of the code that I posted as an answer to you at the beginning had a flaw when combined with grid auto-resize on browser resize (which I made another [PR](https://github.com/6pac/SlickGrid/pull/157) recently for that feature). If you resize the header at a fixed width, then the header doesn't auto-resize anymore (while the

[2017-10-01 05:20] kofifus commented on #135
sorry I'm confused .. I don't see any `.slick-header` in the current #160 example. So I don't understand if it's needed or not. Is the example-grid-menu.html you posted breaks auto-resizing ?

[2017-10-01 14:42] ghiscoding commented on #135
It's in the [plugin](https://github.com/6pac/SlickGrid/pull/160/files#diff-49b0c1a3f362a16863f5a924d92a7090R94) itself. Your original question was about "How to customize top right square" and all the code I gave you was to configure that. That code is used in the Plugin of the PR, when calling the Plugin you don't have to know about this backend code.

[2017-10-01 20:35] kofifus commented on #135
got it, thx

[2017-10-01 20:35] #135 closed

[2017-10-05 02:26] ghiscoding commented on #22
Bower is now deprecated as per an open issue on their [Github](https://github.com/bower/bower/issues/2298), please read the last comment at the end of the discussion.

So the current issue and open Bower PR #34 should be closed.

Here's the quote from the Bower issue

Also an article on the Bower Blog - [How to migrate away from Bower](https://bower.io/blog/2017/how-to-migrate-away-from-bower/)

[2017-10-05 08:20] Tpona opened #163 "Error in measureScrollbar function"
Hi2all!

I get the error, in file slick.grid.js in function measureScrollbar at this line:
`      var $outerdiv = $('<div class="' + $('.slick-viewport')[0].className + '" style="position:absolute; top:-10000px; left:-10000px; overflow:auto; width:100px; height:100px;"></div>').appendTo($('.slick-viewport'));
`
An error: TypeError: Cannot read property 'className' of undefined
$('.slick-viewport')

[2017-10-06 07:11] Tpona opened #164 "Show header row, dont display filters"
If SlickGrid component was created with flag showHeaderRow:false and then you set it visible using method grid.setHeaderRowVisibility(true), filters will not be shown.

Without changing core code problem can be solved so:
[code]

[2017-10-06 18:08] ghiscoding commented on #164
The Header Row can be used for something else than just filters, even though most people use it for the filters. Also filters are custom and are not at all part of the core, you have to program them as you see fit, most of the time it's an input filter but in some cases a select dropdown is better which is why it's not part of the core grid. If you look at the [example - header row](http://6pac.gi

[2017-10-07 19:59] Tpona commented on #164
Ok, but my post not about it.
Why if in this example i set showHeaderRow to false, then if i call `grid.setHeaderRowVisibility(true);`
header inputs not displayed?

[2017-10-08 12:22] 6pac commented on #164
Hi @Tpona, it's a bit tricky. If you start with ```showHeaderRow:false```, the HTML elements of the row won't even be *rendered*. You need to set it to ```true```, then hide it in a manual init. After that, the filter can show or hide it.
This is a bit awkward and I've been thinking of changing the trigger mechanism so it's easier to do what you want. Will get around to it sometime soon.
Ben Mc (@

[2017-10-08 12:49] 6pac commented on #163
This is a really weird problem to be having. Wondering why jQuery an't find the viewport. Wondering if you can modify one of the examples to repro this. It's likely some other HTML in your page is interfering with things.

[2017-10-09 11:48] #151 closed

[2017-10-09 12:01] 6pac commented on #17
You can set the value of the checkbox back to its previous value, in the click event, if you want. There are other options, but they are quite complex (onfocus, etc).

[2017-10-09 12:01] #17 closed

[2017-10-09 12:03] #66 closed

[2017-10-09 12:07] 6pac commented on #84
anything happen here?

[2017-10-23 15:14] igayevoy opened #165 "CheckboxSelectColumn, GroupItemMetadataProvider and DataView with grouping bugs"
Some bugs that I've found:
1. When collapsing expanded group that have selected rows then the next rows are marked and styled as selected.
2. When collapsing or expanding selected group then it becomes unselected.
3. When all groups are collapsed the selection of all rows with the checkbox in header or selection of all rows in group does not marks and stylizes rows as selected.

They are reproduce

[2017-10-23 22:14] codeme opened #166 "Select entire column on header click"
Is there way in slickgrid clicking on header selects that column content?

[2017-10-25 13:56] ghiscoding commented on #166
You could maybe combine [Header Button](http://6pac.github.io/SlickGrid/examples/example-plugin-headerbuttons.html) functionality with a custom command of your own to do that action you want

[2017-10-25 21:55] codeme commented on #166
Thanks for the suggestion. I tried setSelectedRanges on header click event

[2017-10-30 13:38] igayevoy opened #167 "Versioning"
File slick.grid.js from downloaded SlickGrid-2.3.8.zip contains version 2.3.4.

[2017-10-31 11:20] javastud commented on #165
Yes. I am facing same problem. +1

[2017-10-31 11:21] javastud commented on #125
Yes. I am facing same problem. +1

[2017-10-31 14:14] 6pac commented on #125
Just checking that everyone interested in this thread has checked out http://6pac.github.io/SlickGrid/examples/example-dynamic-with-jquery-tabs.html
Does this example help?

If not, then, as requested, please

[2017-11-02 10:51] ferman2147 commented on #165
I couldn't reproduce the bug in #1 And on #2 rows still remain selected while the group header checkbox becomes unselected but #3 definitely looks like it needs a workaround...

[2017-11-02 11:54] igayevoy commented on #165
After selecting a group:
![img1](https://user-images.githubusercontent.com/7600536/32324737-0c85f2f2-bfd5-11e7-9eb6-f95124045709.png)

After collapsing the selected group:
![img2](https://user-images.githubusercontent.com/7600536/32324738-0ca93d02-bfd5-11e7-8ebc-759168f72e8d.png)

[2017-11-02 12:57] javastud commented on #165
And also unless checkboxes same bug occurs as below;

![grida](https://user-images.githubusercontent.com/12248382/32327143-81d00d84-bfe6-11e7-81eb-54c52c0436fa.png)

![gridb](https://user-images.githubusercontent.com/12248382/32327149-882c9b02-bfe6-11e7-83d8-6698e8c4bf99.png)

[2017-11-02 23:26] 6pac commented on #165
Hi all. Will look at this on the weekend. I keep saying it, but I'm just *really* busy at the moment. I'm also a little surprised no-one has managed to fix it yet.

[2017-11-03 05:52] javastud commented on #165
We tried many times and chased for several hours but unfortunately this is really annoying. There were some solutions but we were not sure about the regression and side effects. So we couldnt address a solution.

Also it may be a long-term bug from the original mleibman repository or a design issue.

[2017-11-06 13:52] ghiscoding commented on #135
FYI, the PR for Grid Menu got merged a day ago.

[2017-11-06 13:54] ghiscoding commented on #167
I believed this got fixed with yesterday's update, it should now be showing as `2.3.9`

[2017-11-06 13:57] 6pac commented on #167
Yes, I get slack with updating the version number sometimes. It's getting to the point where I need a release script. I'll look at that soon.

[2017-11-06 13:57] #167 closed

[2017-11-06 14:09] 6pac commented on #165
These should be fixed now (latest release) 2.3.9.  Just involved adding

    dataView.syncGridSelection(grid, true, true);

after the ```grid.render();``` in ```dataView.onRowCountChanged``` and ```dataView.onRowsChanged```

Check the wiki under 'Synchronizing selection & cell CSS styles' [here](https://github.com/mleibman/SlickGrid/wiki/DataView).

I am investigating adding the functionality to s

[2017-11-06 23:36] ghiscoding opened #168 "Latest version has some strict error issues"
It looks like my latest 2 PRs caused some errors that were not caught while adding them since none of the files (even `slick.grid.js` itself) has the `use strict` mode. Now I see these errors when trying to build with Angular and the latest version of Slickgrid which is now `2.3.9` (previous version in NPM is over a year old `2.3.3` and I will be stuck with that one until this is fixed).

The erro

[2017-11-06 23:43] 6pac commented on #168
no probs. when i ran *jslint* over the code base a while back, it picked up a heap of small errors like this, that hadn't been detected earlier. it's good to bring a higher standard of error checking to the code.

[2017-11-06 23:56] ghiscoding commented on #168
Yeah I just feel ashamed since it took me over an hour to figure out what was happening and then realized it was caused by my PRs :(

So the good news is that I just finished my investigation and only the Column Picker and the Grid Menu are the cause of this problem. To test it all out, I re-installed the latest version `2.3.9`, went into the Slickgrid folder (in `node_modules`), manually applied

[2017-11-07 00:20] ghiscoding commented on #168
The PR is done, sorry about the mess I caused. I tested a both the Column Picker and Grid Menu, it all seems fine now.

If you could make a new version, that would help me in using the new Grid Menu with Angular. Thanks again and sorry for the distraction.

[2017-11-07 05:36] javastud commented on #165
We are waiting for patch according to your edited comment. Thanks for work.

[2017-11-07 06:27] #168 closed

[2017-11-07 06:35] 6pac commented on #165
2.3.10 released. Still investigating 'select and deselect collapsed groups', but not quite there yet.

[2017-11-07 08:14] javastud commented on #165
Just tried it but still same error occurred.

[2017-11-07 08:33] 6pac commented on #165
OK, can you get specific? It's working fine for me in Chrome. What browser are you using?

Here's the example: http://6pac.github.io/SlickGrid/examples/example-grouping-checkbox-row-select.html
Will add a link for it in the wiki example page.

[2017-11-07 08:42] javastud commented on #165
Hello. Do we need to change dataview as you mentioned before of wait since "EDIT: actually, it only needs to be added once during grid setup. My mistake. Will patch soon."

[2017-11-07 08:57] 6pac commented on #165
No changes to core code. Just a one line addition to the example page itself.

When I mentioned ```dataView.onRowCountChanged``` and ```dataView.onRowsChanged```, that was in the context of the dataview events that are handled in the example page.

[2017-11-07 10:42] javastud commented on #165
Thanks. Adding dataView.onRowCountChanged and dataView.onRowsChanged seems solved the issue.

[2017-11-07 11:50] 6pac commented on #165
You only invoke ```syncGridSelections``` once, when you're setting up. It hooks into the  ```dataView.onRowCountChanged``` and ```dataView.onRowsChanged``` events by itself. To get the behaviour I'm after I'm going to have to re-architect the core parts of the sync, hopefully it will also make things a lot faster. It's pretty messy at the moment, with three separate controls and plugins all talkin

[2017-11-07 18:41] fournm commented on #162
I've got a fix for this issue--I'll open a PR, but in short, getColumnHeaderWidths always assumes scrollbar instead of taking into account options.autoHeight

[2017-11-07 23:14] 6pac commented on #162
merged. thanks @fournm. I think this issue is properly closed now,

[2017-11-08 10:02] gkraser opened #171 "Make the method public: scrollTo"
Make the method public: scrollTo.
This will make it possible to synchronize 2 grids vertically to simulate frozen columns:

[code]

[2017-11-10 13:27] #136 closed

[2017-11-10 13:55] gabrielAnzaldo opened #172 "When showHeaderRow option is enable, and the user navigates with tab key an exception is thrown"
When I navigate with tab key and arrive to the first input filter, the following error appear:

`Uncaught TypeError: Cannot read property 'ESCAPE' of undefined
at HTMLDivElement.handleKeyDown (slick.grid.js:2385)
at HTMLDivElement.dispatch (jquery.js:4665)
at HTMLDivElement.$event.dispatch (jquery.event.drag-2.2.js:374)
at HTMLDivElement.elemData.handle (jquery.js:4333)`

[2017-11-10 14:47] gabrielAnzaldo commented on #172
I am using 2.2.5 version.

[2017-11-10 18:44] #172 closed

[2017-11-11 01:10] 6pac commented on #172
Hi @gabrielAnzaldo was this resolved? If not, can you tell me which example page you were using?

[2017-11-12 11:56] 6pac commented on #171
Done and committed. Will be in the next release (when it occurs).

[2017-11-12 11:56] #171 closed

[2017-11-19 09:46] aliramadan8 opened #174 "Cannot read property 'addClasses' of null"
i always get this error in the grid ,

Uncaught TypeError: Cannot read property 'addClasses' of null
    at appendCellHtml (slick.grid.js:1724)
    at appendRowHtml (slick.grid.js:1687)
    at renderRows (slick.grid.js:2238)
    at render (slick.grid.js:2307)
    at resizeCanvas (slick.grid.js:1943)
    at SlickGrid.finishInitialization [as init] (slick.grid.js:366)
    at Object.success (fcBusSer

[2017-11-30 01:29] chhunchha commented on #26
No intel on that 6pac, but I have been using that fork for frozen column which is very critical feature for me. I worry that in future might have to switch to some other alternative as it is behind in jquery upgrade also.

[2017-11-30 01:45] 6pac commented on #26
The sad fact is that SlickGrid needs *months* of work put into it to integrate a lot of the branched code, including the post-jQuery branch, etc. I will never have time to do that.

The only hope is if it is adopted by a project that is generating cash and considers it critical enough to put some effort into. I have a project that might fill that role, but too early to tell. I keep getting distrac

[2017-11-30 07:33] ra00l commented on #76
Just wanted to say thanks as well. @6pac would be nice to have a "todo list" with things to improve so we can give a quick hand (I am looking at jquery.* dependencies).

I have a fork of slick grid with some fixes from the past. Will try, in the next weeks / months, to separate and create some PRs.

[2017-11-30 08:50] 6pac commented on #76
Thanks @ra00I that is a great idea. I'll try to put together a 'mind map' of where it's at.
There are different people working on all kinds of things in various clusters. Even I can't keep track of it.
I'm on holidays soon, so might have a bit of time to tinker. I've had about 6 projects on the go at once lately, not a spare second.

[2017-12-04 18:01] jmdavid opened #176 "i18n via config"
Suggestion: it would be nice to have all labels that are actually hardcoded in application (ex. 'Force fit columns', 'Synchronous resize', 'Page n of n', 'items per page', 'n-n of n items') configurables via configuration object.

[2017-12-05 08:50] 6pac commented on #174
I think this was raised as an issue a while back and fixed. It's a problem with the default formatter returning ```null``` in some cases. Have you tried updating to the latest release?

[2017-12-05 10:58] aliramadan8 commented on #174
my version is SlickGrid v2.3.10

[2017-12-06 17:37] karmis commented on #26
@6pac its very sad =( ; Frozen columns is very necessary feature;
+1 for it

[2017-12-08 16:28] dennisvdm opened #178 "getFormatter is called before data loaded (breaking custom user formatters)"
On master, the code is as follows:

`function appendCellHtml(stringArray, row, cell, colspan, item) {
      var value = null;
      if (item) { value = getDataItemValueForColumn(item, m); }
      var formatterResult = getFormatter(row, m)(row, cell, value, m, item);
      ....
}`

In version 2.3.5 [this commit](https://github.com/6pac/SlickGrid/commit/bef3203d722b96853a312929a74121eac15ebed5) has

[2017-12-10 03:08] 6pac commented on #174
https://github.com/6pac/SlickGrid/releases/tag/2.3.11 release now. let me know if there is still a problem.

[2017-12-10 03:08] #174 closed

[2017-12-10 03:09] 6pac commented on #178
thanks for tracking that one down - you did most of the work!
https://github.com/6pac/SlickGrid/releases/tag/2.3.11

[2017-12-10 03:09] #178 closed

[2017-12-11 05:16] 6pac commented on #171
https://github.com/mleibman/SlickGrid/issues/1171

[2017-12-11 06:16] 6pac commented on #26
OK, so I was on a long plane flight, and downloaded the JLynch repo before I left. I have found that the changes are not really *that* extensive, although they do complicate the rendering code a lot. Also, the Jlynch branch has not been maintained for about 4 years.

Using WinDiff (an *awesome* tool) I have been able to reformat the my current and the JLynch slick.grid.js to highlight the differen

[2017-12-13 20:50] gabrielAnzaldo commented on #172
Hi @6pac  I am working with a wrapper of slickGrid, and I realize that the issue is from the wrapper,not from slickGrid itself.

[2017-12-13 23:08] 6pac commented on #172
Ah, thanks.

[2017-12-15 14:49] #176 closed

[2017-12-18 17:39] at88mph commented on #26
The JLynch design as I understood it was to create two separate, scrollable viewports, where the viewport on the left represented the n number of columns to lock.  We could just port over the code from JLynch, but what if there were a better way to do it now?  It could warrant some investigation, especially since much of the code is in conflict with the current @6pac master.

As for what's expecte

[2017-12-18 18:01] ghiscoding commented on #26
I would say that the locking of first column is a good start, I also like to use the last column lock (for example I would put the edit icon in 1st column but the delete icon in last column, so that they can never interfere with each other).

[2017-12-19 00:35] 6pac commented on #26
Well, making three viewports would be not much more difficult than two!
I was thinking it might be a good idea to use ```if``` statements to keep the current single-viewport code as-is and just use the multi-viewport sections for when the feature is switched on.
While it would duplicate code, it's often useful to have the simpler version available as a more easy to understand template, and then ju

[2017-12-19 01:29] 6pac commented on #26
Had a look for recent HTML/CSS solutions to this problem, drew a blank :-(

[2017-12-19 02:39] ghiscoding commented on #26
If I look at the UI-Grid, it looks like concept wise it's actually 3 viewport (left, center, right) which are set with an overflow horizontal (no vertical). These 3 viewports are inside a bigger container which has an overflow vertical so that it controls the 3 viewports while scrolling up/down.

They also seem to calculate margin left and right to center the middle viewport. I guess we could do i

[2018-01-03 04:58] fulldecent opened #184 "Increase click target for column resize action"
Minimal example:

http://6pac.github.io/SlickGrid/examples/example1-simple.html

To resize a column you must click between two columns and drag.

The click target is from 4 pixels left of center line to 1 pixel left of center line. The total click target is a width of 4 pixels and the height of the target is the height of the column heading. Currently it is difficult to find this with your cursor.

[2018-01-04 07:15] 6pac commented on #184
I looked into this, and it's all done with CSS.

If you change the ```.slick-resizable-handle``` class, you can set the width and right boundary.
I found

    width: 9px;
    right: -5px;

worked reasonably well.

[2018-01-04 15:13] fulldecent commented on #184
Thank you for checking this out. The above did not work for me, but this did:

[code]

![66](https://user-images.githubusercontent.com/382183/34569749-b6403e18-f137-11e7-9cb2-5bb903a1af46.gif)

Using Chrome 63.0.3239.84 / macOS 10.13.2 (17C88).

It appears that the cursor is unequally more on the left of the centerline than the right. This is a bug with Chrome and/or macOS.

[2018-01-05 00:16] 6pac commented on #184
Ah, good. Yes, I was just looking at mouseover, I didn't try drag.

I was also puzzled by the uneven width. When I took a screenshot and magnified it, it turned out the line was actually two px wide.

Not sure if this is worth adding to an option - given it is CSS an change would be messy. Adding it to the documentation is probably best.

[2018-01-16 06:21] fulldecent commented on #184
Without z-index it would not light up when I hover.

[2018-01-16 16:39] thyde1 opened #189 "Pager displayed page count is zero based"
Since c30867d02b269674ab27f2fffa755c7339fc8ff0, the page count displayed in the pager is zero based e.g. it displays "Showing page 0 of 1", rather than "Showing page 1 of 1", as would be expected.

I have created a PR which fixes this #188.

[2018-01-18 09:09] #189 closed

[2018-01-24 16:19] ghiscoding opened #190 "is it possible to add SlickGrid object to the Formatters?"
Would it be possible to add the SlickGrid grid object to the Formatter as an argument? The reason I'd like to pass the grid object is to get some common grid options instead of having to pass option to each column definitions over and over.

For example, I added i18n (localization) to my grid and I got it all working but I find myself repeating code a lot because the Formatter doesn't include the

[2018-02-04 21:01] SatanEnglish commented on #128
@ghiscoding
Have you had a chance to look into this yet?
I found that post myself a while back still haven't found any chance either to try and see if it works.

My current project has been using 6pac new SlickGrid and I'm hoping not to have to move away from SlickGrid as I really like using it.

[2018-02-04 21:35] ghiscoding commented on #128
Unfortunately no, I'm more busy trying to wrap up all features of 6pac SlickGrid into an [Angular-SlickGrid](https://github.com/ghiscoding/Angular-Slickgrid) and [Aurelia-SlickGrid](https://github.com/ghiscoding/aurelia-slickgrid), I'd really like to try out this functionality but that won't be until I got all features wrapped up first.

However I'm contributing when I can to 6pac version, since t

[2018-02-08 11:54] xinchao-zhang opened #194 "Horizontal scrollbar still covers the last row"
I know this is old and many people have claimed that this has been fixed, but i can still see the very same issue on Chrome 64.
I hope I have missed something, the simplest way to reproduce is:

1. go to this _official_ example: http://6pac.github.io/SlickGrid/examples/example1-simple.html
2. open dev tools and change the **#myGrid** width from 600px to 300px, horizontal scrollbar should appear
3.

[2018-02-08 21:49] SatanEnglish commented on #128
@ghiscoding Ok wow I put the 200lines of code in.
Works like a charm I'm only using it as a hole pane across the rows.
Checked the reordering via a header and the data ends up in the right place. (If pane is closed)
Only down fall with the 200 line one is that you would have to close the expanded panes when reordering is used.
Just working through the blog to see what's involved to fix the reorder

[2018-02-08 23:13] ghiscoding commented on #128
@SatanEnglish I would be more interested in her first version, that is with a detail pane without any column shown in it, not sure if that is the 200 lines you said. Anyhow for the reordering, I would simply use a [Grid Event](https://github.com/mleibman/SlickGrid/wiki/Grid-Events) like `onColumnsReordered` would possibly work to just close the pane on reorder trigger.

It would be nice if you can

[2018-02-09 02:22] SatanEnglish commented on #128
@ghiscoding

Here is a very simplistic Plugin version incase I never getting round to finishing it.
It is basiclly the detail pane from the example as a plugin. (using the checkbox plugin example)
It is currently just putting in the random data like the example.

Js Plugin
[slick.detailsView.txt](https://github.com/6pac/SlickGrid/files/1709485/slick.detailsView.txt)
css
[slick.detailView.css.txt](

[2018-02-09 05:08] ghiscoding commented on #128
Thanks @SatanEnglish I decided to take a look at your first draft of the plugin. It wasn't working at first, I had to do a couple of changes for it to work (mainly 2 things, it was missing `_dataView = _grid.getData();` in the `init()` function and `getPaddingItem()` function was missing as well). Also note that the plugin only works with a DataView since that it what is used in the plugin itself.

[2018-02-09 06:32] SatanEnglish commented on #128
@ghiscoding

My apologizes I had updated the JS file to include the getPaddingItem(), But you must of grabed it inbetween my update.

Am I right in thinking that you have also fixed the height in your version to load from the height of the content?

A template would be nice. (Not useful for loads of data)

An ajax call that loads in a partial is what i'm needing. (And a spinner while it loads)
Als

[2018-02-09 14:20] ghiscoding commented on #128
I found the missing function in the original article describing the code. I copied it and it started working. Then I modified your css to add some icons for expanding/collapsing.

The height of the panel is dependent on the line height and adding a variable to hold the number of rows your pane has seems to be the key. In my case there's 6 lines of detail, so that seems to be the number to use.

Ye

[2018-02-10 22:19] SatanEnglish commented on #128
@ghiscoding

Never used the asyncPostRender so not sure how well I'll manage it.
I'll have a bit of a play around with it if I can.

Formatter wise would you see this as something you would add to the generic Formatters in the long run?

Or would it just be another file to include like the plugin and css in the case you want to use the plugin?

@6pac Input on some of this would be nice to as he's

[2018-02-11 12:18] 6pac commented on #128
This is an interesting innovation to the grid. If it can be delivered as a plugin, then @ghiscoding has commit, and i'm happy for you to workshop it and commit the result, or issue a PR.
If it turns out to be too hard to do in a plugin, then I'd have to look at it to see to what degree it complicates the base code.
As usual, I'm really busy, and PRs/issues are backing up a bit. I'm in the process

[2018-02-12 06:30] ghiscoding commented on #128
I gave another go at it, and got a first working proof of concept with a delay. I was totally off the field with using `asyncPostRender`, it has nothing to do with this since the post renderer will render every single row in a delayed fashion which is not what we are looking for.

Instead everything is in the plugin and how it will handle things. The first working concept is with a manual `setTime

[2018-02-12 14:37] ghiscoding commented on #128
I had a thought not long after I went to bed, I keep forgetting that SlickGrid is amazing and has everything it needs directly in it. So what we need to complete the code is simply to create a `Slick.Event` inside the plugin which we will subscribe directly in the plugin since the notify will be called by the client side code and that's it we are in business :)

So now the client side code calls a

[2018-02-13 00:12] SatanEnglish commented on #128
@ghiscoding

Unfortunately I've been ill this week so I haven't had a chance look at any of this yet. (But looks like u have got a good version going)

Having an overflow sounds smart to me I'd assume this would just make the area scroll-able if there is to much content.

Still wondering if we can get the load to put the view in a hidden get the height and then make the height right size for the v

[2018-02-13 01:12] ghiscoding commented on #128
@SatanEnglish  oh sorry to hear you got ill, hope you'll be back in shape in no time.

So yes I'd like to work on the overflow first and see if that is doable. Not exactly sure what you mean by

Did you mean to simply calculate the height of the view pane and keep it hidden until the row detail is ready? If that's the case then I guess I could do that, what I have now is that it does the calculati

[2018-02-13 06:28] SatanEnglish commented on #128
@ghiscoding

I have actually checked the ordering of the columns and the ordering asyc and desc with my orginal plugin and it worked. (Closing the detailView when it does)

I'll double check with your changes that it still works tomorrow.

Nice going on the overflow!

Estimated height by picking a row amount sounds ok to me.

Did you see any issue with the view when half if off the top of the scre

[2018-02-13 14:23] ghiscoding commented on #128
@SatanEnglish

Since I took your plugin, it does have the closing on orderBy then, which is great thanks. I just need to enable sorting in my example to test it out.

Didn't know about the visual glitch you just mentioned, I haven't read the original article in a while but yes I see the effect on my side too. It might be caused by the buffering (top/bottom) that SlickGrid does. If I scroll back to

[2018-02-13 20:26] SatanEnglish commented on #128
@ghiscoding

Can you give me rights to push to your branch?
Just checking stuff now and found a small amount of missing stuff.

I can always just type it here but if it's possible to let me commit to your branch that would work to!

[2018-02-13 20:48] ghiscoding commented on #128
I added you and 6pac as collaborator to the [fork](https://github.com/ghiscoding/SlickGrid/tree/feature/row-detail), again make sure to use the [feature/row-detail](https://github.com/ghiscoding/SlickGrid/tree/feature/row-detail) branch. Feel free to do any changes you want, just get it done :)

[2018-02-13 21:15] SatanEnglish commented on #128
@ghiscoding

git -c diff.mnemonicprefix=false -c core.quotepath=false push -v --tags origin feature/row-detail:feature/row-detail
remote: Permission to ghiscoding/SlickGrid.git denied to SatanEnglish.
fatal: unable to access 'https://github.com/ghiscoding/SlickGrid.git/': The requested URL returned error: 403

I'll try again later maybe permissions just not filtered through yet.

Otherwise I'll ju

[2018-02-13 21:25] ghiscoding commented on #128
@SatanEnglish  Kinda new to that too, so let me know if that doesn't work.

[2018-02-14 01:39] SatanEnglish commented on #128
@ghiscoding

I've added some functionality to the detailView.
You can now directly load in a page/View.

e.g.
rowdetailView.onAsyncResponse.notify({
                    "itemDetail": item,
                    "detailView": "<div><h4>It's a View</h4></div>"
}, undefined, this);

I've also added a bool for _options.loadOnce
Which tell it if it should reload the view or use whats already loaded.

I h

[2018-02-14 01:50] 6pac commented on #128
PS. I am watching all this unfold, but haven't looks closely at any code yet. Let me know when it reaches a stable point and I'll review. I suppose that will be in the form of a PR :-)
If it's a plugin or has only minor mods to core code, I'm happy to pull the beta and let the refinements come in via successive PRs. That's not going to destabilise any other features.

[2018-02-14 02:12] SatanEnglish commented on #128
@6pac

Currently there are **0** changes to any core stuff it is literally just the plugin and a css file so far.

[2018-02-14 02:29] SatanEnglish commented on #128
@ghiscoding

Got an idea for how to deal with the height better would like some input when you have a minute.

Basic example would be to have a div with id = temp (Not actually thinking to call it temp)

Css would be as follows

`<div id="temp" style="position:absolute; left:9999999px; top:9999999px;">``</div>`

script
// Load the view into the tempView
$("#temp").html(view);
// Get the Height of

[2018-02-14 03:35] SatanEnglish commented on #128
@6pac @ghiscoding
Is there a way to change/override the "getRenderedRange" function without changing core.js?

Current issue lets say I set the panelRow for how big the detailview is to 10 rows.
When the first row goes off the screen we lose our detailView as they are being cleaned up.

The function cleanupRows(rangeToKeep) in slick.grid.js is removing the row because it's off the screen.

Ideally

[2018-02-14 03:56] 6pac commented on #128
Not possible to say for me without reviewing the code carefully. If you can make small edits to the core (eg. pass an extra param to ```getRenderedRange``` or ```cleanupRows``` to trigger different behaviour, I'm good with that.  I will go over this in detail sometime soon.

[2018-02-14 04:06] SatanEnglish commented on #128
@6pac

I've cheated.

Feel free to make it better in the long run with passing an extra param.

init method added => _grid.getRenderedRange = getRenderedRange;

Then I have cloned the getRenderedRange from core and changed
                var minBuffer = 3;
To
                var minBuffer = _options.panelRows + 3;

Nasty but all contained in the plugin WOOT!

[2018-02-14 04:22] ghiscoding commented on #128
@SatanEnglish yeah I thought the row buffer was the cause of the visual glitch, I think that as @6pac said, it wouldn't be that bad to be able to pass an argument to change the `minBuffer` without affecting the current default when nothing is set. I'm sure this could be useful for not just this plugin but other things too. If that's the only change in the core, it's not too bad. I always try to av

[2018-02-14 04:50] SatanEnglish commented on #128
@ghiscoding

I've added an example for the changes that I added. [example17-row-detail-view-load.html](https://github.com/ghiscoding/SlickGrid/blob/feature/row-detail/examples/example17-row-detail-view-load.html)

This has both the view per row functionality and the onetime loading.

Can you have a fiddle and if you don't see any issues I'm happy for you or me to do the first PR.

Feel free to cle

[2018-02-14 05:15] ghiscoding commented on #128
@SatanEnglish it's nice to have flexibility I guess, so it's great to support both with/without template. In my code.

We need to fix the sorting before creating a PR, not sure if you saw my previous comment about the `handleSort` throwing an error after I added Sorting in the example16. Could you take a look at it?

[2018-02-14 05:39] SatanEnglish commented on #128
@ghiscoding
Assuming your still doing some doing stuff here.
I've got a magical wrapper that exposes the rows...

The right one for the generic stuff should be the following.

    function handleSort(e, args) {
      var rows = _grid.getData().getItems();
      $.each(rows, function (i, r) {
          HandleAccordionShowHide(r, true);
      });
    }
Feel free to fix this if your going to test thi

[2018-02-14 05:54] ghiscoding commented on #128
@SatanEnglish yes it does fix it however this is extremely slow, it takes like 20sec to do a sort. If I comment out the handleSort in the plugin then it goes back to normal which is sorting in millisecond. That doesn't seem ideal... can we do it on just the rows in the buffer instead of the entire dataset?

[2018-02-14 07:56] SatanEnglish commented on #128
@ghiscoding

No sure what the issue is my version is really fast however I am using a far better sort than the default.
Also I already have the rows in my version.
I'll double check where i'm getting my rows from when I get to work tomorrow..

But an array sounds find. I'll just have to check the onTimeload version still works after a sort. (Or set the item to not being loaded again)

[2018-02-14 14:23] ghiscoding commented on #128
I made a commit with the sort and the `handleSort` fix last night and so you can try it from the example16. However there's huge performance hit looping through the entire dataset. I really think that having an array of the open ones is the way to go. You could also make it a public function `collapseAll` that would loop through this array of references, it should be instant to do so.

[2018-02-14 19:48] SatanEnglish commented on #128
@ghiscoding

I've check this and didn't **SEE** a performance issue but I can try implementing a holder of the set

[2018-02-14 20:03] ghiscoding commented on #128
would still prefer to use an array of open references, this is by far the most optimized way of dealing with open/collapse of row details, especially with huge dataset. You could probably see a difference if you put in 500k rows in the dataset (just increase the for loop number in the example16). Your computer is probably faster than mine then, since it really was 20sec. on my side versus half a s

[2018-02-14 20:29] SatanEnglish commented on #128
@ghiscoding

Done and Done.

- Running of an array
- Added a collapseAll
- Separated into more function for more readability

[2018-02-14 20:55] SatanEnglish commented on #128
@ghiscoding @6pac

You guys interested in an AutoColumnSizePlugin?

[2018-02-14 21:12] ghiscoding commented on #128
@SatanEnglish
A quick look at it and it seems all nice and sweet. I'll review it more later tonight after work. I didn't even know javascript `filter` function was supported in IE9+ without a polyfill (sweet). Ahh wait it seems we forgot 1 small thing in the name of the plugins, it should be under the namespace "Slick.Plugins.pluginName" (for example [HeaderMenu Plugin](https://github.com/ghiscodi

[2018-02-14 21:33] SatanEnglish commented on #128
@ghiscoding
Changed to Slick.Plugins.pluginName

After you look at it tonight I'm happy with the plugin now so feel free to get @6pac   to commit it

[2018-02-14 21:37] SatanEnglish commented on #128
@ghiscoding

As for the AutoColumnSizePlugin I'll make an example and have a fiddle after work.
Any chance you could set up the other PR for it I actually not 100% sure how to do it.

[2018-02-14 21:57] SatanEnglish commented on #116
@6pac

Not sure if this is fixed in your current version but you may want to have a look.
Easy fix just don't have time to deal with it currently

[2018-02-14 22:23] ghiscoding commented on #128
@SatanEnglish to do a PR is easy when you follow these steps. Do a fork from Github and do a checkout locally, work on the code then push (commit) the code to your Github fork, from the Github page click on the Pull Request button (as shown below). You can all do this on a master branch (from your fork) or what is best is to actually create a different branch so that you won't mix your code with o

[2018-02-15 00:17] SatanEnglish commented on #128
@ghiscoding
Another thing to look into with the DataViewRow.
I'm wanting to have an option to have a row tap so that tapping on any item will open the view.

Not sure how I'd go about this any ideas?

[2018-02-15 01:01] 6pac commented on #128
@ghiscoding feel free to merge this PR if you like. I've made some small updates to the repo and been halfway through a few extra things for a while, so haven't got around to doing a release yet.
I think it's time to release though, so when you're done, let me know.

[2018-02-15 03:52] ghiscoding commented on #128
@SatanEnglish
I've reviewed the code
- added a `useRowClick` as per your request
- added a few Slick Events that user can subscribe to
- added lots of documentation (on top of the plugin)

Here's a couple of things before officially opening the PR
- can you review the docs (on top of the plugin) and see if I missed anything
- would it be possible to combine example16 and example17 into 1 html file

[2018-02-15 04:28] 6pac commented on #116
Ended up just putting

    function handleKeyDown(e) {
      var activeRow = _grid.getActiveCell();
      if (_grid.getOptions().multiSelect && activeRow
      && e.shiftKey && !e.ctrlKey && !e.altKey && !e.metaKey
      && (e.which == Slick.keyCode.UP || e.which == Slick.keyCode.DOWN)) {

at the start of the function instead. Committed. Release soon.

[2018-02-15 04:28] #116 closed

[2018-02-15 06:07] SatanEnglish commented on #128
@ghiscoding

1) Missing something about being able to use the args.detailView if wanting to add an explicit view for the onAsyncEndUpdate. (Not sure if this is done on purpose if not can u add it )

2) Making making exmaples into one sounds fine is there a way we can add some buttons that toggle on "loadOnce", "loading by template vs loading by view", "Row Tap on/off"

3) I have overrideden the co

[2018-02-15 07:24] SatanEnglish commented on #128
@ghiscoding @6pac

Hay guys really quick example setup.
[Example Auto-Resize-Columns](https://github.com/SatanEnglish/SlickGrid/tree/Aucto-Resize-Columns)

Seems to not work perfectly if using double click on column resize now. (Think there is some change to the nest version that has affected it)

Resize all button works like a charm tho.

Think the issue line in plugin below as I think I read som

[2018-02-15 08:29] mblaney opened #196 "bitwise OR typo"
hey, I'm pretty sure this is a typo at: https://github.com/6pac/SlickGrid/blob/master/slick.editors.js#L216-L217

I've changed it to:
 ` } else if (!rtn) {`
`rtn = 0;`

as it was OR'ing away my decimal places :-)

[2018-02-15 11:47] 6pac commented on #196
Good catch! In the end, changed it to ```rtn = rtn || 0;``` since there's no javascript operator like ```rtn ||= 0;``` which is what was intended.

[2018-02-15 11:47] #196 closed

[2018-02-15 12:18] 6pac commented on #194
Thanks for the heads up. There was an issue a while back around refreshing scrollbar dimensions, I'll check that out soon. It could just be you need to call ```resizeCanvas()``` after resizing the #mygrid element.

[2018-02-15 14:41] ghiscoding commented on #128
@SatanEnglish
Not sure what you mean by

I added doc and also a console.log example in example16 to demonstrate all 3 new onEvents, isn't that sufficient? or did you see some bugs?

2. yeah I guess we could try with a radio button to active the onLoad, but I'm not sure if we can change the plugin instance after the grid already loaded the plugin. We would have to try, else we'll have to make 2 gri

[2018-02-15 20:17] SatanEnglish commented on #128
@ghiscoding

1) This is what I mean.

        onAsyncEndUpdate: Fired when the async response finished
        Event args:
        grid:        Reference to the grid.
        itemDetail:  Column definition.
        detailView:  An explicit view to use instead of template (Optional)

2) Two grids is fine if thats what we need to resort to!

**PS** I've started deleting comments that are are off top

[2018-02-15 20:36] SatanEnglish commented on #128
@ghiscoding

Small change that you may want to add.
Currently the hover for the row click doesn't change to the hand icon should it?
e.g. like it does if you hover over the icon column

[2018-02-16 01:14] ghiscoding commented on #128
@SatanEnglish

1. I already had the docs for the `onAsyncEndUpdate`, you can see this [line](https://github.com/ghiscoding/SlickGrid/blob/7e65176f19adfad9c2cb3023ceb348135a420459/plugins/slick.rowdetailview.js#L26)

2. haven't tried 2 grids or just a radio button yet, will do that soon

3. having a hand cursor when hovering the row... hmm really?

Did you push your changes? I don't see any changes

[2018-02-16 02:54] SatanEnglish commented on #128
@ghiscoding

1) Updated the missing comment now it's on onAsyncResponse not the end my bad.

3) I've looked at how your doing it I think skip putting a nice hover on... will just have to stay not looking like you can click on the row.

[2018-02-16 03:44] ghiscoding commented on #128
@SatanEnglish

- I managed to merge both examples into `example16.html`, I didn't delete the 17 yet for references.
  - Can you please review 16 and make sure it's up to your needs. I don't fully understand your Load Once, so maybe provide better info on the home page?
  - Please note that I changed the multiple of 2 for a multiple of 5 because it includes both examples and more views. You can cha

[2018-02-16 05:15] ghiscoding opened #198 "Addition of AutoColumnSize Plugin"
This is a reference issue for a Plugin that @SatanEnglish mentioned and he possibly has a PR coming for that later. Here's a quote about the last Auto-Resize Plugin

Example Auto-Resize-Columns
Seems to not work perfectly if using double click on column resize now. (Think there is some change to the nest version that has affected it)
Resize all button works like a charm tho.
Think the issue line i

[2018-02-16 05:41] SatanEnglish commented on #198
Hay guys really quick example setup.
[Example Auto-Resize-Columns](https://github.com/SatanEnglish/SlickGrid/tree/Aucto-Resize-Columns)

Seems to not work perfectly if using double click on column resize now. (Think there is some change to the nest version that has affected it)

Resize all button works like a charm tho.

Think the issue line in plugin below as I think I read something in the updat

[2018-02-16 06:40] SatanEnglish commented on #128
@ghiscoding

Ok yer you didn't seem to understand how this worked at all LOL.

I've updated the example now have another look and read the descriptions.
If you still don't understand how it works please let me know.

If you cannot understand how these work it's not a good enough description.

Can you revise again please.

[2018-02-16 13:14] Edminsson opened #199 "Horizontal scrollbar scrolls in very small steps"
Since version 2.3.9 when clicking the scrollbar arrows in the horizontal scrollbar the grid scrolls in very small steps. This happens in Chrome and Firefox. You can compare version 2.3.8 and 2.3.12 in these plunks.
- Version 2.3.8 https://run.plnkr.co/plunks/Re0PZ8Q5BO55bL1XtKCk/
- Version 2.3.12 https://run.plnkr.co/plunks/WA7wgm8amsEEiPtvtJ24/

Update
- Version 2.3.13 https://run.plnkr.co/plunks

[2018-02-16 17:57] ghiscoding commented on #128
PR is in the queue, see below for an animated of the result and multiple features that were added on the way. Thanks for @SatanEnglish for the awesome help on this team work effort :)

Totally understand the "loadOnce" now, totally awesome! No more waiting when re-opening the same row :)

Also note that the option of "useRowClick" will not add the hand cursor over the entire row, you have to add t

[2018-02-18 16:59] ghiscoding commented on #128
@SatanEnglish
I noticed a small issue with your "loadOnce" implementation. It looks like it's only keeping the last loaded one in memory and if you had multiple ones that got opened, they will all get the last loaded one showing. For example, take this way to reproduce, Open task 2 (loading+template), Open task 4 (loading+template), close/open task 4 (from cache), close/open task 2 (from cache but

[2018-02-18 20:34] SatanEnglish commented on #128
@ghiscoding

Hmm I hadn't noticed but that's likely because we have so little difference between items.

Can you have a look at line 194 of the plug in.

I'm basically just taking the it directly off the item which I thought was the row item.
e.g. If we already have item._detailContent on the item we are looking at then I just use it as is.

Alternatively I'll have to have a look at this when I ge

[2018-02-18 20:36] SatanEnglish commented on #198
@ghiscoding

Have you had a look at this?
I'll find some time sometime but i'm not going to be rushing on this one sorry.

[2018-02-18 21:53] SatanEnglish commented on #128
@ghiscoding

Seems the override of getRenderedRange isn't working anymore either for some reason

[2018-02-18 23:11] ghiscoding commented on #128
I don't think that I've touched that function neither do I know how you implemented the loadOnce. Sorry I can't help you much on that

[2018-02-18 23:36] SatanEnglish commented on #128
Yer I'm looking into some of this now

[2018-02-18 23:54] SatanEnglish commented on #128
@ghiscoding
It's not the onetime load thats broken it's the hole thing!!

Basically as soon as you scroll the view off the screen and then back on it's wrong!!
Doesn't seem to matter if it's the one time load or not!!

[2018-02-19 00:35] SatanEnglish commented on #128
@ghiscoding
I've found the issue not 100% sure how to fix it!!
_self.onAsyncResponse.subscribe(function (e, args) {
This function is called for every item in the grid that is currently open

I have updated some stuff here firstly I have added a return if the item being looked at is not our item
if(item.id != args.id) return;
Is there a better way to deal with this in the notify explicitly?

Second

[2018-02-19 00:38] SatanEnglish commented on #128
@ghiscoding @6pac

I'm still looking into updating the getRenderedRange.
But it looks like I may need to update the slick.grid.js to have a variable after all

[2018-02-19 00:55] 6pac commented on #128
not a problem if you need to do that.

[2018-02-19 00:56] SatanEnglish commented on #128
@6pac
Doesn't look like I can get around changing slick.grid.js.
But it will be a minimal change. Going to add "adjustRowBuffer: 0" to the var defaults.

Then just have
          `var minBuffer = 3 + options.adjustRowBuffer;`

[2018-02-19 01:03] SatanEnglish commented on #128
@6pac
Actually i'm just going to add minRowBuffer as a hole to the options and default it to the 3.
I'm sure you will change it if you don't like it and let me know.

[2018-02-19 01:12] SatanEnglish commented on #128
@6pac
Has this branch been merged in yet?
If so can you at your next available chance re-merge this as I have at least fix the main issues.
Double check the small change to slick.grid.js.

Thanks

[2018-02-19 01:32] ghiscoding commented on #128
@SatanEnglish
The PR has not been merged yet, however all changes applied on the same branch are part of the PR. So your last 3 commits are part of the PR.

We, or I always try to avoid touching the core but, If you're still fighting for 1 line of code to change in the core, please let us know and I'm sure @6pac can get it done if necessary. Also note that the branch created for this PR is most pr

[2018-02-19 01:50] SatanEnglish commented on #128
@ghiscoding
I've changed it in one of the commits.
Just the thing around seeing if you can make your notify calls a little more efficient.(I'm not sure how that part works.)

But all works right again now

[2018-02-19 01:56] ghiscoding commented on #128
@SatanEnglish
The notify are just something that gets called when it's reached. Not sure which of the notify you meant, but if you want it to trigger less often, because of a condition, then just wrap it in an `if` condition.

[2018-02-19 02:07] SatanEnglish commented on #128
@ghiscoding

Inside expandItem(item)

_self.onAsyncResponse.subscribe(function (e, args) {

Not sure what `if` I would wrap it in.
Its currenly being call for every open item item.

When you have some time run it and put a break point inside the subscribe.
Then open row 1. (it will be hit once)
Then open row 3. (it will be hit twice)
Then open row 7. (3 times)

Not sure if we need to be unsubscrib

[2018-02-19 02:58] ghiscoding commented on #128
@SatanEnglish
good catch, it was being called exponentially simply because the `expandItem` was adding an extra subscriber every time the function was being called, which was making it exponential. However now that the subscriber is outside of the `expandItem` and the fact that your last commit added a comparison with the `item.id`, I had to add a reference to the [_currentItem](https://github.com

[2018-02-19 04:53] SatanEnglish commented on #128
@ghiscoding
I'm going to have a look at testing it now.

Can you also look at
html.push("<div class='detail-container' style='max-height:"

I'm thinking that this should be height instead of max height so the content always takes up the full space thoughts? (Doesn't seem to affect your scroll if I do it.)

[2018-02-19 05:01] SatanEnglish commented on #128
@ghiscoding

Now that you have fixed the onAynsResponse I have removed the `_currentItem`
Double check it now only fires on the item that is selected not all open items and therefore we no longer need to check the args vs current. (They are always the same object now)

Please double check again. (I did some testing here and seems to work)

[2018-02-19 05:10] ghiscoding commented on #128
@SatanEnglish
The difference with CSS `height` is that the `height` will fix it to that defined height, however a `max-height` will make it possible to go up to that maximum but never go above. Basically, the `max-height` is dynamic but never goes above. So, let say you define a `max-height: 300px` and your content is only 100px high, then it will have it's height showing as 100px, while a `height

[2018-02-19 05:15] SatanEnglish commented on #128
@ghiscoding

![image](https://user-images.githubusercontent.com/2100563/36363296-bddbab2a-15a0-11e8-8a82-1786860bdd89.png)

Don't as me Y the is currently a horizontal scroll but there is. But because it's max-height not height you can see the scroll bar is in a non sensible place

[2018-02-19 05:24] ghiscoding commented on #128
@SatanEnglish
If `height` fixes your problem then go ahead, I just thought dynamic height might be better but I haven't tried testing anything else than the demo yet so you're more advanced on that front.

[2018-02-19 05:31] SatanEnglish commented on #128
@ghiscoding dynamic would be good if our rows were dynamic height all round.

[2018-02-19 08:29] SatanEnglish commented on #128
@ghiscoding

Hay I don't know I want to commit this but have a play with this version
[slick.rowdetailview.js.txt](https://github.com/6pac/SlickGrid/files/1735941/slick.rowdetailview.js.txt)

I've hard coded the minBufferRows to 30 as I'm not sure what else we would do with it.

Try it with our example.

Dynamic size magic.

[2018-02-19 14:30] ghiscoding commented on #128
@SatanEnglish
You know more than I do on the `minBufferRows` since I don't have any demo sample other than the example, so I let you decide if it should be in the PR or not. On another note, I thought you would change the `max-height` to simply `height`, if it's better with `height` in your demo, please change it.

Could you also please finish your review on this PR and tell us when it's all good,

[2018-02-19 19:01] SatanEnglish commented on #128
@ghiscoding
I'll double check once I get to my desk.

Can u have a look at the version I sent in last Comment please check it for speed!

It's sizing to the content dynamically. (actual height)

[2018-02-19 19:58] SatanEnglish commented on #128
@ghiscoding
Have changed the max-height to height and have committed it.
I will keep looking into this dynamic height and add an option if I can get it working!

That way you can go ahead with the PR. As as is works fine for the first version

[2018-02-19 21:25] ghiscoding commented on #128
@SatanEnglish
Adding more features to this PR should be done in future version(s), unless it's real quick and can be done today. Basically, I'd like this PR to merge today, meaning in the next few hours. I think the current PR is good as it is and we can ship it and get feedback from other as we get more users trying it and developing with it.

I'm patiently waiting for a new version of SlickGrid

[2018-02-19 22:39] SatanEnglish commented on #128
@ghiscoding
In case you want to have a play with the dynamic height version.

[slick.rowdetailview.js.txt](https://github.com/6pac/SlickGrid/files/1738360/slick.rowdetailview.js.txt)
This is were I got to it's still missing some scenario's but i'm going to go back to the version I know works.

I am however going to try and get a resizeDetailView function in before the release assuming your still w

[2018-02-19 23:12] ghiscoding commented on #128
@SatanEnglish
I am able to merge my own PRs, I was going to do that tonight assuming we had a stable version of our plugin. From what I know, our PR is holding up the release of a new SlickGrid version which is why I wanted this shipped. I didn't want to delay too long since I know it's holding the release. How long will it be for that work that you're doing on the resizeDetailView function?

[2018-02-19 23:12] SatanEnglish commented on #128
@ghiscoding

I've added a resize method to the code.
It's not called so it won't break anything for the release.

An example of using it is Open item task 2.
Then in console `detailView.resizeDetailView(_dataView.getItemById("id_2"))`

[2018-02-20 04:17] SatanEnglish commented on #128
@ghiscoding

.dynamic-cell-detail
What is the reason for using `display: table;`
I've came across case were I have a slick grid inside a slick grid and it breaks the width.

Is there a specific reason for having it?

[2018-02-20 04:30] ghiscoding commented on #128
@SatanEnglish
1. I think the `display: table` comes from the article. If you follow her article until the end, she wanted to an extra row of data underneath the row, which is different from our approach of a row detail. It's probably ok to remove it. I tested it on my side and can change the `display: table` to `display: inline` and the other one below from `display: table-cell` to `display: inlin

[2018-02-20 08:39] SatanEnglish commented on #128
@ghiscoding

Ok I think I have removed the main ones that aren't needed.

Hopefully this is all that's need now

[2018-02-20 21:51] SatanEnglish commented on #128
@ghiscoding, @6pac

Ok come across a snags for what I'm doing. (Not needed for first version)

I need to know when the columns are being re-aranged so that I can save the current state of the view.
(onColumnsReordered is after the view is already lost)

Basiclly lets say my text on my view is X and at somepoint it is changed to Y.
Then I reorder the columns by drag and drop.
The text in the view i

[2018-02-21 03:01] 6pac commented on #128
Hey @ghiscoding sorry about no update yet, not actually the PR, just me not having hours in the day. I'm happy to pull whatever is relatively stable and then monitor subsequent updates.

[2018-02-21 04:31] ghiscoding commented on #128
@6pac it's ready to merge as it is, we'll do refinement in further versions. I was just too busy with my own merge yesterday.

[2018-02-21 04:57] #128 closed